Repository verdaccio/monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: core, plugins

fix: plugins/local-storage/package.json to reduce vulnerabilities
  plugins/local-storage/package.json
Due: plugins

fix: plugins/google-cloud/package.json to reduce vulnerabilities
  plugins/google-cloud/package.json
Due: plugins

test: add new test for request current usage
  plugins/audit/README.md
  plugins/audit/package.json
  plugins/audit/src/audit.ts
  plugins/audit/tests/audit.spec.ts
  plugins/audit/tests/partial/webapp.ts
Due: plugins

chore: rejectUnauthorized as option
  plugins/audit/src/audit.ts
Due: plugins

chore: update readme
  plugins/audit/README.md
Due: plugins

feat: replace request by node-fetch
  plugins/audit/README.md
  plugins/audit/package.json
  plugins/audit/src/audit.ts
  plugins/audit/tests/audit.spec.ts
  yarn.lock
Due: plugins

chore: apply suggestions
  plugins/audit/src/audit.ts
  yarn.lock
Due: plugins

feat: replace request by node-fetch (#367)
  plugins/audit/README.md
  plugins/audit/package.json
  plugins/audit/src/audit.ts
  plugins/audit/tests/audit.spec.ts
  plugins/audit/tests/partial/webapp.ts
  yarn.lock
Due: plugins

chore: update readme
  README.md
Due: none

fix: update lodash
  package.json
  plugins/local-storage/package.json
  yarn.lock
Due: plugins

chore: publish release v9.7.4
  CHANGELOG.md
  lerna.json
  plugins/local-storage/CHANGELOG.md
  plugins/local-storage/package.json
Due: plugins

Added bcrypt support for htpasswd
  plugins/htpasswd/package.json
  plugins/htpasswd/src/bcrypt.ts
  plugins/htpasswd/src/utils.ts
Due: plugins

Fixed lint violations caused by the new changes; Changed bycrypt lib;
  plugins/htpasswd/package.json
  plugins/htpasswd/src/bcrypt.ts
  plugins/htpasswd/src/utils.ts
  yarn.lock
Due: plugins

removed bcrypt:5.0.0 lib
  yarn.lock
Due: none

Removed the lock file; rebuild project so new lock file had been created
  yarn.lock
Due: none

fix: update dependencies
  core/readme/package.json
  plugins/local-storage/package.json
  yarn.lock
Due: core, plugins

fix: update dependencies
  .github/workflows/ci.yml
Due: none

fix: update dependencies (#393)
  .github/workflows/ci.yml
  core/readme/package.json
  plugins/local-storage/package.json
  yarn.lock
Due: core, plugins

chore: remove test publish
  .circleci/config.yml
Due: none

chore: run ci on pull request
  .github/workflows/ci.yml
Due: none

chore: publish release v9.7.5
  CHANGELOG.md
  core/readme/CHANGELOG.md
  core/readme/package.json
  lerna.json
  plugins/local-storage/CHANGELOG.md
  plugins/local-storage/package.json
Due: core, plugins

feat: lowdb over level for token
  package.json
  plugins/local-storage/package.json
  plugins/local-storage/src/local-database.ts
  plugins/local-storage/src/local-fs.ts
  plugins/local-storage/src/pkg-utils.ts
  plugins/local-storage/src/token.ts
  plugins/local-storage/tests/__fixtures__/pkg.js
  plugins/local-storage/tests/__fixtures__/readme-test/package.json
  plugins/local-storage/tests/__mocks__/Config.ts
  plugins/local-storage/tests/local-database.test.ts
  plugins/local-storage/tests/token.test.ts
  yarn.lock
Due: plugins

chore: node 12 as minimum
  .github/workflows/ci.yml
Due: none

chore: fix ts error
  plugins/local-storage/src/token.ts
Due: plugins

feat!: lowdb over level for token (#394)
  .github/workflows/ci.yml
  package.json
  plugins/local-storage/package.json
  plugins/local-storage/src/local-database.ts
  plugins/local-storage/src/local-fs.ts
  plugins/local-storage/src/pkg-utils.ts
  plugins/local-storage/src/token.ts
  plugins/local-storage/tests/__fixtures__/pkg.js
  plugins/local-storage/tests/__fixtures__/readme-test/package.json
  plugins/local-storage/tests/__mocks__/Config.ts
  plugins/local-storage/tests/local-database.test.ts
  plugins/local-storage/tests/token.test.ts
  yarn.lock
Due: plugins

v0.0.0
  package.json
Due: none

chore: publish release v10.0.0
  CHANGELOG.md
  core/commons-api/CHANGELOG.md
  core/commons-api/package.json
  core/file-locking/CHANGELOG.md
  core/file-locking/package.json
  core/readme/CHANGELOG.md
  core/readme/package.json
  core/streams/CHANGELOG.md
  core/streams/package.json
  core/types/CHANGELOG.md
  core/types/package.json
  lerna.json
  plugins/active-directory/CHANGELOG.md
  plugins/active-directory/package.json
  plugins/audit/CHANGELOG.md
  plugins/audit/package.json
  plugins/auth-memory/CHANGELOG.md
  plugins/auth-memory/package.json
  plugins/aws-s3-storage/CHANGELOG.md
  plugins/aws-s3-storage/package.json
  plugins/google-cloud/CHANGELOG.md
  plugins/google-cloud/package.json
  plugins/htpasswd/CHANGELOG.md
  plugins/htpasswd/package.json
  plugins/local-storage/CHANGELOG.md
  plugins/local-storage/package.json
  plugins/memory/CHANGELOG.md
  plugins/memory/package.json
  tools/babel-preset/CHANGELOG.md
  tools/babel-preset/package.json
  tools/eslint-config/CHANGELOG.md
  tools/eslint-config/package.json
  tools/eslint-plugin-verdaccio/CHANGELOG.md
  tools/eslint-plugin-verdaccio/package.json
  tools/testing-utilities/CHANGELOG.md
  tools/testing-utilities/package.json
Due: core, plugins

fix: restore self_path variable
  plugins/local-storage/src/local-database.ts
  plugins/local-storage/tests/__mocks__/Config.ts
Due: plugins

fix: restore self_path variable (#396)
  plugins/local-storage/src/local-database.ts
  plugins/local-storage/tests/__mocks__/Config.ts
Due: plugins

chore: publish release v10.0.1
  CHANGELOG.md
  lerna.json
  plugins/local-storage/CHANGELOG.md
  plugins/local-storage/package.json
Due: plugins

fix: add warning database name
  plugins/local-storage/package.json
  plugins/local-storage/src/local-database.ts
  yarn.lock
Due: plugins

Path conditions:
  core: any of: core/commons-api, core/file-locking, core/readme, core/streams
  plugins: any of: plugins/active-directory, plugins/audit, plugins/auth-memory, plugins/aws-s3-storage, plugins/google-cloud, plugins/htpasswd, plugins/local-storage, plugins/memory
