Repository verdaccio/monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: core, plugins

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 50%
      core:
        flags: core
        target: 50%
      plugins:
        flags: plugins
        target: 50%

flags:
  core:
    paths:
      - core/commons-api
      - core/file-locking
      - core/readme
      - core/streams
  plugins:
    paths:
      - plugins/active-directory
      - plugins/audit
      - plugins/auth-memory
      - plugins/aws-s3-storage
      - plugins/google-cloud
      - plugins/htpasswd
      - plugins/local-storage
      - plugins/memory

chore: pin dep
  core/file-locking/package.json
  core/streams/package.json
  plugins/auth-memory/package.json
  plugins/local-storage-legacy/package.json
  plugins/local-storage/package.json
  plugins/memory/package.json
  pnpm-lock.yaml
Due: core, plugins

build: release packages (#768)
  .changeset/progressive-search-remote.md
  core/file-locking/CHANGELOG.md
  core/file-locking/package.json
  core/streams/CHANGELOG.md
  core/streams/package.json
  plugins/auth-memory/CHANGELOG.md
  plugins/auth-memory/package.json
  plugins/local-storage-legacy/CHANGELOG.md
  plugins/local-storage-legacy/package.json
  plugins/local-storage/CHANGELOG.md
  plugins/local-storage/package.json
  plugins/memory/CHANGELOG.md
  plugins/memory/package.json
  pnpm-lock.yaml
Due: core, plugins

test
  plugins/local-storage-legacy/package.json
  plugins/local-storage-legacy/vite.config.ts
Due: plugins

test
  .npmrc
  package.json
Due: none

Update local-fs.test.ts
  plugins/local-storage-legacy/tests/local-fs.test.ts
Due: plugins

Create test-readme-0.0.0.tgz
  plugins/local-storage-legacy/tests/__fixtures__/readme-test/test-readme-0.0.0.tgz
Due: plugins

Update vite.config.ts
  plugins/local-storage-legacy/vite.config.ts
Due: plugins

update
  README.md
  plugins/local-storage-legacy/README.md
  plugins/local-storage-legacy/package.json
Due: plugins

remove code
  plugins/local-storage-legacy/src/local-database.ts
  plugins/local-storage-legacy/src/remote-search.ts
  plugins/local-storage-legacy/tests/local-database.test.ts
  plugins/local-storage-legacy/tests/remote-search.test.ts
Due: plugins

Update local-database.test.ts
  plugins/local-storage-legacy/tests/local-database.test.ts
Due: plugins

build: release packages (#770)
  .changeset/modernize-local-storage-legacy.md
  plugins/local-storage-legacy/CHANGELOG.md
  plugins/local-storage-legacy/package.json
  pnpm-lock.yaml
Due: plugins

fix: typeError cjs vite
  .changeset/odd-pumas-allow.md
  core/deprecated-types/src/plugins/storage.ts
  core/file-locking/src/lockfile.ts
  core/file-locking/src/readFile.ts
  core/file-locking/src/utils.ts
  core/file-locking/vite.config.ts
  core/streams/src/index.ts
  core/streams/vite.config.ts
  plugins/auth-memory/vite.config.ts
  plugins/local-storage-legacy/src/local-database.ts
  plugins/local-storage-legacy/vite.config.ts
  plugins/memory/src/memory-handler.ts
  plugins/memory/vite.config.ts
Due: core, plugins

chore: format
  core/file-locking/src/lockfile.ts
  core/file-locking/src/utils.ts
  plugins/local-storage-legacy/src/local-database.ts
Due: core, plugins

fix: externalize bare Node.js built-in imports in Vite configs (#771)
  .changeset/odd-pumas-allow.md
  core/deprecated-types/src/plugins/storage.ts
  core/file-locking/src/lockfile.ts
  core/file-locking/src/readFile.ts
  core/file-locking/src/utils.ts
  core/file-locking/vite.config.ts
  core/streams/src/index.ts
  core/streams/vite.config.ts
  plugins/auth-memory/vite.config.ts
  plugins/local-storage-legacy/src/local-database.ts
  plugins/local-storage-legacy/vite.config.ts
  plugins/memory/src/memory-handler.ts
  plugins/memory/vite.config.ts
Due: core, plugins

build: release packages (#772)
  .changeset/odd-pumas-allow.md
  core/deprecated-types/CHANGELOG.md
  core/deprecated-types/package.json
  core/file-locking/CHANGELOG.md
  core/file-locking/package.json
  core/streams/CHANGELOG.md
  core/streams/package.json
  plugins/auth-memory/CHANGELOG.md
  plugins/auth-memory/package.json
  plugins/local-storage-legacy/CHANGELOG.md
  plugins/local-storage-legacy/package.json
  plugins/memory/CHANGELOG.md
  plugins/memory/package.json
  pnpm-lock.yaml
Due: core, plugins

chore: fix eslint imports
  .changeset/eslint-config-optional-peers.md
  tools/eslint/src/index.js
Due: none

build: release packages (#773)
  .changeset/eslint-config-optional-peers.md
  tools/eslint/CHANGELOG.md
  tools/eslint/package.json
Due: none

Update changesets.yml
  .github/workflows/changesets.yml
Due: none

Increase PR concurrent limit and enable version pinning
  renovate.json
Due: none
