Repository verdaccio/monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: core, plugins

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 50%
      core:
        flags: core
        target: 50%
      plugins:
        flags: plugins
        target: 50%

flags:
  core:
    paths:
      - core/commons-api
      - core/file-locking
      - core/readme
      - core/streams
  plugins:
    paths:
      - plugins/active-directory
      - plugins/audit
      - plugins/auth-memory
      - plugins/aws-s3-storage
      - plugins/google-cloud
      - plugins/htpasswd
      - plugins/local-storage
      - plugins/memory

feat: aesEncrypt requires string instead buffer
  .changeset/curvy-oranges-whisper.md
  core/types/src/plugins/auth.ts
Due: none

remove @verdaccio/commons-api package
  core/commons-api/.babelrc
  core/commons-api/.eslintignore
  core/commons-api/.gitignore
  core/commons-api/CHANGELOG.md
  core/commons-api/LICENSE
  core/commons-api/README.md
  core/commons-api/jest.config.js
  core/commons-api/package.json
  core/commons-api/src/index.ts
  core/commons-api/test/errors.spec.ts
  core/commons-api/tsconfig.build.json
  core/commons-api/tsconfig.json
  core/commons-api/types/lockfile.d.ts
  plugins/active-directory/package.json
  plugins/auth-memory/package.json
  plugins/aws-s3-storage/package.json
  plugins/google-cloud/package.json
  plugins/local-storage/package.json
  plugins/memory/package.json
  pnpm-lock.yaml
Due: core, plugins

remove @verdaccio/streams and @verdaccio/file-locking
  core/file-locking/.babelrc
  core/file-locking/.eslintignore
  core/file-locking/.gitignore
  core/file-locking/CHANGELOG.md
  core/file-locking/LICENSE
  core/file-locking/README.md
  core/file-locking/jest.config.js
  core/file-locking/package.json
  core/file-locking/src/__tests__/assets/package.json
  core/file-locking/src/__tests__/assets/package2.json
  core/file-locking/src/__tests__/assets/wrong.package.json
  core/file-locking/src/__tests__/lock.spec.ts
  core/file-locking/src/index.ts
  core/file-locking/src/lockfile.ts
  core/file-locking/src/readFile.ts
  core/file-locking/src/unclock.ts
  core/file-locking/src/utils.ts
  core/file-locking/tsconfig.build.json
  core/file-locking/tsconfig.json
  core/file-locking/types/lockfile.d.ts
  core/streams/.babelrc
  core/streams/.eslintignore
  core/streams/.eslintrc.json
  core/streams/.gitignore
  core/streams/CHANGELOG.md
  core/streams/LICENSE
  core/streams/README.md
  core/streams/jest.config.js
  core/streams/jestEnvironment.js
  core/streams/package.json
  core/streams/src/index.ts
  core/streams/test/mystreams.spec.ts
  core/streams/tsconfig.build.json
  core/streams/tsconfig.json
  plugins/aws-s3-storage/package.json
  plugins/google-cloud/package.json
  plugins/htpasswd/package.json
  plugins/local-storage/package.json
  plugins/memory/package.json
Due: core, plugins

Update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

remove @types/express dep
  package.json
  pnpm-lock.yaml
Due: none

Update tsconfig.json
  tsconfig.json
Due: none

Update ci.yml
  .github/workflows/ci.yml
Due: none

types
  .changeset/cold-gifts-judge.md
  .github/workflows/changesets.yml
  types/custom.d.ts
Due: none

fix tests
  package.json
  plugins/htpasswd/package.json
  plugins/htpasswd/tests/htpasswd.test.ts
  plugins/htpasswd/tsconfig.build.json
  plugins/local-storage/package.json
  plugins/local-storage/tsconfig.build.json
  types/custom.d.ts
Due: plugins

rename folder
  core/deprecated-types/.gitignore
  core/deprecated-types/.npmignore
  core/deprecated-types/CHANGELOG.md
  core/deprecated-types/LICENSE
  core/deprecated-types/README.md
  core/deprecated-types/package.json
  core/deprecated-types/src/commons.ts
  core/deprecated-types/src/configuration.ts
  core/deprecated-types/src/manifest.ts
  core/deprecated-types/src/plugins/auth.ts
  core/deprecated-types/src/plugins/commons.ts
  core/deprecated-types/src/plugins/filter.ts
  core/deprecated-types/src/plugins/index.ts
  core/deprecated-types/src/plugins/middleware.ts
  core/deprecated-types/src/plugins/storage.ts
  core/deprecated-types/src/plugins/theme.ts
  core/deprecated-types/src/types.ts
  core/deprecated-types/tsconfig.json
  core/deprecated-types/typedoc.json
Due: none

rename setup branch
  .changeset/config.json
  .github/workflows/changesets.yml
Due: none

fix: force release packages
  .changeset/stupid-singers-thank.md
Due: none

restore types
  plugins/htpasswd/package.json
  plugins/htpasswd/tsconfig.build.json
  plugins/local-storage/package.json
  plugins/local-storage/tsconfig.build.json
Due: plugins

update
  .changeset/gentle-cooks-march.md
  .github/workflows/ci.yml
Due: none

Update changesets.yml
  .github/workflows/changesets.yml
Due: none

fix: add logging to plugin startup
  plugins/htpasswd/package.json
  plugins/htpasswd/src/htpasswd.ts
  pnpm-lock.yaml
Due: plugins

Create thirty-kangaroos-dress.md
  .changeset/thirty-kangaroos-dress.md
Due: none

fix: add logging to plugin startup (#669)
  .changeset/thirty-kangaroos-dress.md
  plugins/htpasswd/package.json
  plugins/htpasswd/src/htpasswd.ts
  pnpm-lock.yaml
Due: plugins

feat: remove verdaccio-htpasswd from monorepo
  plugins/htpasswd/.babelrc
  plugins/htpasswd/.eslintignore
  plugins/htpasswd/.eslintrc.json
  plugins/htpasswd/.gitignore
  plugins/htpasswd/CHANGELOG.md
  plugins/htpasswd/LICENSE
  plugins/htpasswd/README.md
  plugins/htpasswd/jest.config.js
  plugins/htpasswd/jestEnvironment.js
  plugins/htpasswd/package.json
  plugins/htpasswd/src/crypt3.ts
  plugins/htpasswd/src/htpasswd.ts
  plugins/htpasswd/src/index.ts
  plugins/htpasswd/src/utils.ts
  plugins/htpasswd/tests/__fixtures__/config.yaml
  plugins/htpasswd/tests/__fixtures__/htpasswd
  plugins/htpasswd/tests/__mocks__/Config.js
  plugins/htpasswd/tests/__snapshots__/utils.test.ts.snap
  plugins/htpasswd/tests/crypt3.test.ts
  plugins/htpasswd/tests/htpasswd.test.ts
  plugins/htpasswd/tests/utils.test.ts
  plugins/htpasswd/tsconfig.build.json
  plugins/htpasswd/tsconfig.json
  pnpm-lock.yaml
Due: plugins

feat: remove verdaccio-htpasswd from monorepo (#672)
  plugins/htpasswd/.babelrc
  plugins/htpasswd/.eslintignore
  plugins/htpasswd/.eslintrc.json
  plugins/htpasswd/.gitignore
  plugins/htpasswd/CHANGELOG.md
  plugins/htpasswd/LICENSE
  plugins/htpasswd/README.md
  plugins/htpasswd/jest.config.js
  plugins/htpasswd/jestEnvironment.js
  plugins/htpasswd/package.json
  plugins/htpasswd/src/crypt3.ts
  plugins/htpasswd/src/htpasswd.ts
  plugins/htpasswd/src/index.ts
  plugins/htpasswd/src/utils.ts
  plugins/htpasswd/tests/__fixtures__/config.yaml
  plugins/htpasswd/tests/__fixtures__/htpasswd
  plugins/htpasswd/tests/__mocks__/Config.js
  plugins/htpasswd/tests/__snapshots__/utils.test.ts.snap
  plugins/htpasswd/tests/crypt3.test.ts
  plugins/htpasswd/tests/htpasswd.test.ts
  plugins/htpasswd/tests/utils.test.ts
  plugins/htpasswd/tsconfig.build.json
  plugins/htpasswd/tsconfig.json
  pnpm-lock.yaml
Due: plugins

fix dependency pnpm lock file
  package.json
Due: none

fix dependency pnpm lock file
  .github/workflows/ci.yml
Due: none

update aws-sdk
  plugins/aws-s3-storage/package.json
  pnpm-lock.yaml
Due: plugins

update aws-sdk (#676)
  plugins/aws-s3-storage/package.json
  pnpm-lock.yaml
Due: plugins

format
  .eslintrc
  package.json
  plugins/local-storage-modern/src/local-database.ts
  plugins/local-storage-modern/src/utils.ts
  plugins/local-storage-modern/tests/config.ts
  plugins/local-storage-modern/tests/local-database.test.ts
  plugins/local-storage-modern/tests/local-fs.test.ts
  plugins/local-storage-modern/tests/token.test.ts
Due: plugins

fix types
  package.json
  plugins/local-storage-modern/src/local-database.ts
  pnpm-lock.yaml
Due: plugins

test
  .github/workflows/ci.yml
  plugins/local-storage-modern/tests/local-fs.test.ts
Due: plugins

Update local-fs.test.ts
  plugins/local-storage-legacy/tests/local-fs.test.ts
Due: plugins

tests
  plugins/local-storage-legacy/tests/local-fs.test.ts
  plugins/local-storage-modern/tests/local-fs.test.ts
Due: plugins

feat: refactor search method
  .changeset/stupid-lobsters-guess.md
  plugins/local-storage/package.json
  plugins/local-storage/src/dir-utils.ts
  plugins/local-storage/src/local-database.ts
  plugins/local-storage/src/local-fs.ts
  plugins/local-storage/src/token.ts
  plugins/local-storage/tests/__mocks__/Config.ts
  plugins/local-storage/tests/local-database.test.ts
  plugins/local-storage/tsconfig.json
  pnpm-lock.yaml
Due: plugins
