Repository verdaccio/monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: core, plugins

Create stupid-rocks-fry.md
  .changeset/stupid-rocks-fry.md
Due: none

chore: add fix types
  core/types/package.json
  core/types/src/configuration.ts
  core/types/src/plugins/auth.ts
  core/types/src/plugins/storage.ts
  core/types/tsconfig.json
Due: none

feat: refactor types and typescript 4 (#581)
  .changeset/stupid-rocks-fry.md
  core/file-locking/src/utils.ts
  core/types/.gitignore
  core/types/README.md
  core/types/index.d.ts
  core/types/package.json
  core/types/src/commons.ts
  core/types/src/configuration.ts
  core/types/src/manifest.ts
  core/types/src/plugins/auth.ts
  core/types/src/plugins/commons.ts
  core/types/src/plugins/filter.ts
  core/types/src/plugins/index.ts
  core/types/src/plugins/middleware.ts
  core/types/src/plugins/storage.ts
  core/types/src/plugins/theme.ts
  core/types/src/types.ts
  core/types/tsconfig.json
  core/types/typedoc.json
  package.json
  plugins/aws-s3-storage/src/index.ts
  plugins/aws-s3-storage/src/s3PackageManager.ts
  plugins/google-cloud/src/data-storage.ts
  plugins/google-cloud/src/storage.ts
  plugins/local-storage/src/local-database.ts
  plugins/local-storage/src/pkg-utils.ts
  plugins/memory/src/memory-handler.ts
  pnpm-lock.yaml
Due: core, plugins

fix: wrong package configuration
  .changeset/brave-peaches-protect.md
  .eslintignore
  core/types/.npmignore
  core/types/package.json
Due: none

fix: bad promise pattern
  plugins/htpasswd/src/htpasswd.ts
  plugins/htpasswd/tests/htpasswd.test.ts
Due: plugins

feat: allow other password hashing algorithms
  .changeset/tough-turtles-matter.md
  plugins/htpasswd/README.md
  plugins/htpasswd/package.json
  plugins/htpasswd/src/crypt3.ts
  plugins/htpasswd/src/htpasswd.ts
  plugins/htpasswd/src/index.ts
  plugins/htpasswd/src/utils.ts
  plugins/htpasswd/tests/__snapshots__/utils.test.ts.snap
  plugins/htpasswd/tests/crypt3.test.ts
  plugins/htpasswd/tests/htpasswd.test.ts
  plugins/htpasswd/tests/utils.test.ts
Due: plugins

Update tough-turtles-matter.md
  .changeset/tough-turtles-matter.md
Due: none

Update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

fix(deps): update all core dependencies
  core/readme/package.json
  package.json
  plugins/local-storage/package.json
  pnpm-lock.yaml
Due: core, plugins

chore: apply suggestions
  plugins/htpasswd/src/htpasswd.ts
Due: plugins

chore: apply suggestions
  plugins/htpasswd/src/htpasswd.ts
  plugins/htpasswd/tests/htpasswd.test.ts
Due: plugins

feat: allow other password hashing algorithms (#580)
  .changeset/tough-turtles-matter.md
  plugins/htpasswd/README.md
  plugins/htpasswd/package.json
  plugins/htpasswd/src/crypt3.ts
  plugins/htpasswd/src/htpasswd.ts
  plugins/htpasswd/src/index.ts
  plugins/htpasswd/src/utils.ts
  plugins/htpasswd/tests/__snapshots__/utils.test.ts.snap
  plugins/htpasswd/tests/crypt3.test.ts
  plugins/htpasswd/tests/htpasswd.test.ts
  plugins/htpasswd/tests/utils.test.ts
  pnpm-lock.yaml
Due: plugins

fix(deps): update dependency mockdate to v3.0.5
  plugins/htpasswd/package.json
  pnpm-lock.yaml
Due: plugins

fix: eliminating all synchronous calls to bcrypt library
  .changeset/cold-rockets-explain.md
  plugins/htpasswd/src/htpasswd.ts
  plugins/htpasswd/src/utils.ts
  plugins/htpasswd/tests/htpasswd.test.ts
  plugins/htpasswd/tests/utils.test.ts
Due: plugins

fix: eliminating all synchronous calls to bcrypt library (#589)
  .changeset/cold-rockets-explain.md
  plugins/htpasswd/src/htpasswd.ts
  plugins/htpasswd/src/utils.ts
  plugins/htpasswd/tests/htpasswd.test.ts
  plugins/htpasswd/tests/utils.test.ts
Due: plugins

fix: regresion wrong new storage path reference
  .changeset/plenty-donkeys-begin.md
  plugins/local-storage/src/token.ts
Due: plugins

fix: regresion wrong new storage path reference (#593)
  .changeset/plenty-donkeys-begin.md
  plugins/local-storage/src/token.ts
Due: plugins

fix(doc): update wrong env spelling to avoid using it not smoothly
  plugins/aws-s3-storage/README.md
Due: plugins

fix(doc): update wrong env spelling to avoid using it not smoothly (#597)
  plugins/aws-s3-storage/README.md
Due: plugins

chore: changeset release
  .changeset/olive-yaks-share.md
Due: none

chore: changeset release
  .changeset/fast-spiders-dream.md
Due: none

feat: add server.trustProxy configuration type
  .changeset/clean-mirrors-explode.md
  core/types/src/configuration.ts
Due: none

feat: add server.trustProxy configuration type (#604)
  .changeset/clean-mirrors-explode.md
  core/types/src/configuration.ts
Due: none

Update renovate.json
  renovate.json
Due: none

chore: add abbreviated versions support
  core/types/src/manifest.ts
Due: none

Create fifty-eggs-know.md
  .changeset/fifty-eggs-know.md
Due: none

feat: add abbreviated versions support (#615)
  .changeset/fifty-eggs-know.md
  core/types/src/manifest.ts
Due: none

feat(types): add missing fields to the Version object
  core/types/src/manifest.ts
Due: none

feat(types): add missing fields to the Version object (#617)
  core/types/src/manifest.ts
Due: none

chore: add changeset
  .changeset/funny-cougars-flow.md
Due: none

chore: remove unused eslint plugins
  .eslintrc
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: none

chore: remove unused dep
  package.json
  pnpm-lock.yaml
Due: none

add changeset
  .changeset/popular-clouds-cough.md
Due: none

feat: remove readme package
  core/readme/.babelrc
  core/readme/.eslintignore
  core/readme/.gitignore
  core/readme/CHANGELOG.md
  core/readme/LICENSE
  core/readme/README.md
  core/readme/jest.config.js
  core/readme/jestEnvironment.js
  core/readme/package.json
  core/readme/src/index.ts
  core/readme/tests/partials/mixed-html-mk/readme.md
  core/readme/tests/readme.spec.ts
  core/readme/tsconfig.build.json
  core/readme/tsconfig.json
  pnpm-lock.yaml
Due: core

chore: changesets
  .changeset/odd-comics-fetch.md
Due: none

fix: reduce warning noise for htpaswd logging message
  .changeset/real-gifts-work.md
  plugins/htpasswd/src/htpasswd.ts
Due: plugins

remove verdaccio-audit in replace v6 improved plugin
  plugins/audit/.babelrc
  plugins/audit/.eslintignore
  plugins/audit/.gitignore
  plugins/audit/CHANGELOG.md
  plugins/audit/LICENSE
  plugins/audit/README.md
  plugins/audit/jest.config.js
  plugins/audit/jestEnvironment.js
  plugins/audit/package.json
  plugins/audit/src/audit.ts
  plugins/audit/src/index.ts
  plugins/audit/src/types.ts
  plugins/audit/tests/audit.spec.ts
  plugins/audit/tsconfig.build.json
  plugins/audit/tsconfig.json
  pnpm-lock.yaml
Due: plugins

Update README.md
  plugins/memory/README.md
Due: plugins

fix: config plugin types
  .changeset/hungry-insects-taste.md
  core/types/src/configuration.ts
Due: none

fix: add enhancedLegacySignature property to security
  .changeset/green-plants-push.md
  core/types/src/configuration.ts
Due: none

Path conditions:
  core: any of: core/commons-api, core/file-locking, core/readme, core/streams
  plugins: any of: plugins/active-directory, plugins/audit, plugins/auth-memory, plugins/aws-s3-storage, plugins/google-cloud, plugins/htpasswd, plugins/local-storage, plugins/memory
