Repository verdaccio/monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: core, plugins

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 50%
      core:
        flags: core
        target: 50%
      plugins:
        flags: plugins
        target: 50%

flags:
  core:
    paths:
      - core/commons-api
      - core/file-locking
      - core/readme
      - core/streams
  plugins:
    paths:
      - plugins/active-directory
      - plugins/audit
      - plugins/auth-memory
      - plugins/aws-s3-storage
      - plugins/google-cloud
      - plugins/htpasswd
      - plugins/local-storage
      - plugins/memory

fix(verdaccio-htpasswd): generate non-constant legacy 2 byte salt (#357)
  plugins/htpasswd/src/crypt3.ts
  plugins/htpasswd/src/utils.ts
  plugins/htpasswd/tests/crypt3.test.ts
  plugins/htpasswd/tests/htpasswd.test.ts
  plugins/htpasswd/tests/utils.test.ts
Due: plugins

chore: publish release v9.4.1
  CHANGELOG.md
  lerna.json
  plugins/htpasswd/CHANGELOG.md
  plugins/htpasswd/package.json
Due: plugins

feat: custom favicon
  core/types/index.d.ts
Due: none

feat(types): custom favicon (#356)
  core/types/index.d.ts
Due: none

chore: publish release v9.5.0
  CHANGELOG.md
  core/file-locking/CHANGELOG.md
  core/file-locking/package.json
  core/readme/CHANGELOG.md
  core/readme/package.json
  core/streams/CHANGELOG.md
  core/streams/package.json
  core/types/CHANGELOG.md
  core/types/package.json
  lerna.json
  plugins/active-directory/CHANGELOG.md
  plugins/active-directory/package.json
  plugins/audit/CHANGELOG.md
  plugins/audit/package.json
  plugins/auth-memory/CHANGELOG.md
  plugins/auth-memory/package.json
  plugins/aws-s3-storage/CHANGELOG.md
  plugins/aws-s3-storage/package.json
  plugins/google-cloud/CHANGELOG.md
  plugins/google-cloud/package.json
  plugins/htpasswd/CHANGELOG.md
  plugins/htpasswd/package.json
  plugins/local-storage/CHANGELOG.md
  plugins/local-storage/package.json
  plugins/memory/CHANGELOG.md
  plugins/memory/package.json
  tools/testing-utilities/CHANGELOG.md
  tools/testing-utilities/package.json
Due: core, plugins

fix: upgrade jsdom from 16.2.1 to 16.2.2 (#354)
  core/readme/package.json
Due: core

fix: upgrade babel-jest from 25.3.0 to 25.5.1
  tools/babel-preset/package.json
Due: none

fix: restore Node v8 support
  core/readme/package.json
  plugins/local-storage/package.json
  plugins/local-storage/src/local-fs.ts
  yarn.lock
Due: core, plugins

feat: allow providing session token in config
  plugins/aws-s3-storage/README.md
  plugins/aws-s3-storage/src/config.ts
  plugins/aws-s3-storage/src/index.ts
  plugins/aws-s3-storage/src/s3PackageManager.ts
  plugins/aws-s3-storage/tests/setConfigValue.test.ts
Due: plugins

fix: restore Node v8 support (#361)
  core/readme/package.json
  plugins/local-storage/package.json
  plugins/local-storage/src/local-fs.ts
  yarn.lock
Due: core, plugins

chore: publish release v9.5.1
  CHANGELOG.md
  core/readme/CHANGELOG.md
  core/readme/package.json
  lerna.json
  plugins/local-storage/CHANGELOG.md
  plugins/local-storage/package.json
Due: core, plugins

chore: update jest
  package.json
  yarn.lock
Due: none

feat: allow providing session token in config (#362)
  plugins/aws-s3-storage/README.md
  plugins/aws-s3-storage/src/config.ts
  plugins/aws-s3-storage/src/index.ts
  plugins/aws-s3-storage/src/s3PackageManager.ts
  plugins/aws-s3-storage/tests/setConfigValue.test.ts
Due: plugins

chore: update jest (#363)
  package.json
  yarn.lock
Due: none

chore: publish release v9.6.0
  CHANGELOG.md
  lerna.json
  plugins/aws-s3-storage/CHANGELOG.md
  plugins/aws-s3-storage/package.json
Due: plugins

chore: update dependencies
  package.json
  tools/babel-preset/package.json
  tools/eslint-plugin-verdaccio/package.json
  yarn.lock
Due: none

chore: add node 14
  .github/workflows/ci.yml
Due: none

chore(build): update dependencies (#364)
  .github/workflows/ci.yml
  package.json
  tools/babel-preset/package.json
  tools/eslint-plugin-verdaccio/package.json
  yarn.lock
Due: none

fix(verdaccio-memory): race condition on save a package
  plugins/memory/src/local-memory.ts
  plugins/memory/src/memory-handler.ts
  plugins/memory/src/utils.ts
  plugins/memory/test/local-memory.spec.ts
  plugins/memory/test/memory.spec.ts
Due: plugins

chore: reable node 8
  .github/workflows/ci.yml
Due: none

add new tests
  plugins/memory/test/memory.spec.ts
Due: plugins

fix(verdaccio-memory): race condition on save a package (#365)
  .github/workflows/ci.yml
  plugins/memory/src/local-memory.ts
  plugins/memory/src/memory-handler.ts
  plugins/memory/src/utils.ts
  plugins/memory/test/local-memory.spec.ts
  plugins/memory/test/memory.spec.ts
Due: plugins

chore: publish release v9.6.1
  CHANGELOG.md
  core/commons-api/CHANGELOG.md
  core/commons-api/package.json
  core/file-locking/CHANGELOG.md
  core/file-locking/package.json
  core/readme/CHANGELOG.md
  core/readme/package.json
  core/streams/CHANGELOG.md
  core/streams/package.json
  lerna.json
  plugins/active-directory/CHANGELOG.md
  plugins/active-directory/package.json
  plugins/audit/CHANGELOG.md
  plugins/audit/package.json
  plugins/auth-memory/CHANGELOG.md
  plugins/auth-memory/package.json
  plugins/aws-s3-storage/CHANGELOG.md
  plugins/aws-s3-storage/package.json
  plugins/google-cloud/CHANGELOG.md
  plugins/google-cloud/package.json
  plugins/htpasswd/CHANGELOG.md
  plugins/htpasswd/package.json
  plugins/local-storage/CHANGELOG.md
  plugins/local-storage/package.json
  plugins/memory/CHANGELOG.md
  plugins/memory/package.json
  tools/babel-preset/CHANGELOG.md
  tools/babel-preset/package.json
  tools/eslint-plugin-verdaccio/CHANGELOG.md
  tools/eslint-plugin-verdaccio/package.json
  tools/testing-utilities/CHANGELOG.md
  tools/testing-utilities/package.json
Due: core, plugins

types for https config
  core/types/index.d.ts
Due: none

extend config
  core/types/index.d.ts
Due: none

feat: types for https config (#368)
  core/types/index.d.ts
Due: none

chore: publish release v9.7.0
  CHANGELOG.md
  core/file-locking/CHANGELOG.md
  core/file-locking/package.json
  core/readme/CHANGELOG.md
  core/readme/package.json
  core/streams/CHANGELOG.md
  core/streams/package.json
  core/types/CHANGELOG.md
  core/types/package.json
  lerna.json
  plugins/active-directory/CHANGELOG.md
  plugins/active-directory/package.json
  plugins/audit/CHANGELOG.md
  plugins/audit/package.json
  plugins/auth-memory/CHANGELOG.md
  plugins/auth-memory/package.json
  plugins/aws-s3-storage/CHANGELOG.md
  plugins/aws-s3-storage/package.json
  plugins/google-cloud/CHANGELOG.md
  plugins/google-cloud/package.json
  plugins/htpasswd/CHANGELOG.md
  plugins/htpasswd/package.json
  plugins/local-storage/CHANGELOG.md
  plugins/local-storage/package.json
  plugins/memory/CHANGELOG.md
  plugins/memory/package.json
  tools/testing-utilities/CHANGELOG.md
  tools/testing-utilities/package.json
Due: core, plugins

fix: exclude ending of pipe
  plugins/audit/src/audit.ts
Due: plugins

fix: plugins/local-storage/package.json to reduce vulnerabilities
  plugins/local-storage/package.json
Due: plugins

fix: plugins/local-storage/package.json to reduce vulnerabilities (#373)
  plugins/local-storage/package.json
Due: plugins

fix: update dependencies
  core/commons-api/package.json
  package.json
  plugins/htpasswd/package.json
  plugins/local-storage/package.json
  tools/babel-preset/package.json
  yarn.lock
Due: core, plugins

fix: update dependencies (#375)
  core/commons-api/package.json
  package.json
  plugins/htpasswd/package.json
  plugins/local-storage/package.json
  tools/babel-preset/package.json
  yarn.lock
Due: core, plugins

chore: publish release v9.7.1
  CHANGELOG.md
  core/commons-api/CHANGELOG.md
  core/commons-api/package.json
  core/file-locking/CHANGELOG.md
  core/file-locking/package.json
  core/readme/CHANGELOG.md
  core/readme/package.json
  core/streams/CHANGELOG.md
  core/streams/package.json
  lerna.json
  plugins/active-directory/CHANGELOG.md
  plugins/active-directory/package.json
  plugins/audit/CHANGELOG.md
  plugins/audit/package.json
  plugins/auth-memory/CHANGELOG.md
  plugins/auth-memory/package.json
  plugins/aws-s3-storage/CHANGELOG.md
  plugins/aws-s3-storage/package.json
  plugins/google-cloud/CHANGELOG.md
  plugins/google-cloud/package.json
  plugins/htpasswd/CHANGELOG.md
  plugins/htpasswd/package.json
  plugins/local-storage/CHANGELOG.md
  plugins/local-storage/package.json
  plugins/memory/CHANGELOG.md
  plugins/memory/package.json
  tools/babel-preset/CHANGELOG.md
  tools/babel-preset/package.json
  tools/testing-utilities/CHANGELOG.md
  tools/testing-utilities/package.json
Due: core, plugins

Fix incorrect AuthAccessCallback and AuthCallback
  core/types/index.d.ts
Due: none

fix: incorrect AuthAccessCallback and AuthCallback (#374)
  core/types/index.d.ts
Due: none

chore: publish release v9.7.2
  CHANGELOG.md
  core/file-locking/CHANGELOG.md
  core/file-locking/package.json
  core/readme/CHANGELOG.md
  core/readme/package.json
  core/streams/CHANGELOG.md
  core/streams/package.json
  core/types/CHANGELOG.md
  core/types/package.json
  lerna.json
  plugins/active-directory/CHANGELOG.md
  plugins/active-directory/package.json
  plugins/audit/CHANGELOG.md
  plugins/audit/package.json
  plugins/auth-memory/CHANGELOG.md
  plugins/auth-memory/package.json
  plugins/aws-s3-storage/CHANGELOG.md
  plugins/aws-s3-storage/package.json
  plugins/google-cloud/CHANGELOG.md
  plugins/google-cloud/package.json
  plugins/htpasswd/CHANGELOG.md
  plugins/htpasswd/package.json
  plugins/local-storage/CHANGELOG.md
  plugins/local-storage/package.json
  plugins/memory/CHANGELOG.md
  plugins/memory/package.json
  tools/testing-utilities/CHANGELOG.md
  tools/testing-utilities/package.json
Due: core, plugins

fix: core/readme/package.json to reduce vulnerabilities
  core/readme/package.json
Due: core

fix: update marked security vulnerability
  core/readme/package.json
  plugins/audit/package.json
  yarn.lock
Due: core, plugins

fix: update marked / request security vulnerability (#378)
  core/readme/package.json
  plugins/audit/package.json
  yarn.lock
Due: core, plugins

chore: publish release v9.7.3
  CHANGELOG.md
  core/readme/CHANGELOG.md
  core/readme/package.json
  lerna.json
  plugins/audit/CHANGELOG.md
  plugins/audit/package.json
Due: core, plugins
