Repository verdaccio/monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: core, plugins

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 50%
      core:
        flags: core
        target: 50%
      plugins:
        flags: plugins
        target: 50%

flags:
  core:
    paths:
      - core/commons-api
      - core/file-locking
      - core/readme
      - core/streams
  plugins:
    paths:
      - plugins/active-directory
      - plugins/audit
      - plugins/auth-memory
      - plugins/aws-s3-storage
      - plugins/google-cloud
      - plugins/htpasswd
      - plugins/local-storage
      - plugins/memory

Create modern-places-drive.md
  .changeset/modern-places-drive.md
Due: none

update dep
  package.json
  pnpm-lock.yaml
Due: none

fix lint
  core/streams/src/index.ts
  eslint.config.mjs
  plugins/active-directory/tests/__mocks__/Logger.ts
  plugins/active-directory/tests/active-directory.test.ts
  plugins/aws-s3-storage/tests/__mocks__/Logger.ts
  plugins/aws-s3-storage/tests/index.test.ts
  plugins/aws-s3-storage/tests/s3PackageManager.test.ts
  plugins/aws-s3-storage/tests/s3PackageManagerMockedS3.test.ts
  plugins/google-cloud/tests/datastore.spec.ts
  plugins/google-cloud/tests/storage.spec.ts
  plugins/local-storage-legacy/tests/__mocks__/Logger.ts
  plugins/local-storage-legacy/tests/local-database.test.ts
  plugins/local-storage-legacy/tests/local-fs.test.ts
  plugins/local-storage-legacy/tests/token.test.ts
  plugins/local-storage-legacy/tests/utils.test.ts
  plugins/memory/src/local-memory.ts
  plugins/memory/src/memory-handler.ts
  plugins/memory/test/local-memory.spec.ts
  plugins/memory/test/memory.spec.ts
  pnpm-lock.yaml
  tools/eslint/README.md
  tools/eslint/package.json
  tools/eslint/src/index.js
Due: core, plugins

format files
  core/deprecated-types/src/plugins/filter.ts
  core/deprecated-types/src/plugins/index.ts
  core/deprecated-types/src/plugins/middleware.ts
  core/deprecated-types/src/plugins/storage.ts
  core/file-locking/src/lockfile.ts
  core/file-locking/src/readFile.ts
  core/file-locking/src/unclock.ts
  core/file-locking/src/utils.ts
Due: core

format
  plugins/active-directory/src/active-directory.ts
  plugins/active-directory/tests/active-directory.test.ts
  plugins/auth-memory/src/Memory.ts
  plugins/aws-s3-storage/src/index.ts
  plugins/aws-s3-storage/src/s3Errors.ts
  plugins/aws-s3-storage/src/s3PackageManager.ts
  plugins/aws-s3-storage/tests/index.test.ts
  plugins/aws-s3-storage/tests/s3PackageManager.test.ts
  plugins/aws-s3-storage/tests/s3PackageManagerMockedS3.test.ts
  plugins/google-cloud/src/data-storage.ts
  plugins/google-cloud/src/storage.ts
  plugins/google-cloud/src/types/index.ts
  plugins/google-cloud/tests/datastore.spec.ts
  plugins/google-cloud/tests/storage.spec.ts
  plugins/local-storage-legacy/src/local-database.ts
  plugins/local-storage-legacy/src/local-fs.ts
  plugins/local-storage-legacy/src/pkg-utils.ts
  plugins/local-storage-legacy/src/token.ts
  plugins/local-storage-legacy/src/utils.ts
  plugins/local-storage-legacy/tests/local-database.test.ts
  plugins/local-storage-legacy/tests/local-fs.test.ts
  plugins/local-storage-legacy/tests/token.test.ts
  plugins/local-storage-legacy/tests/utils.test.ts
  plugins/local-storage/src/dir-utils.ts
  plugins/local-storage/src/local-database.ts
  plugins/local-storage/src/local-fs.ts
  plugins/local-storage/src/pkg-utils.ts
  plugins/local-storage/src/token.ts
  plugins/local-storage/src/utils.ts
  plugins/local-storage/tests/basic.test.ts
  plugins/local-storage/tests/local-database.test.ts
  plugins/local-storage/tests/local-fs.test.ts
  plugins/local-storage/tests/token.test.ts
  plugins/local-storage/tests/utils.test.ts
  plugins/memory/src/memory-handler.ts
  plugins/memory/test/local-memory.spec.ts
  plugins/memory/test/memory.spec.ts
  tools/eslint/README.md
  tools/eslint/src/index.js
  tsconfig.json
Due: plugins

Update index.js
  tools/eslint/src/index.js
Due: none

fix build
  core/streams/test/mystreams.spec.d.ts
  core/streams/tsconfig.build.json
  plugins/active-directory/tests/__mocks__/Logger.d.ts
  plugins/active-directory/tests/active-directory.test.d.ts
  plugins/active-directory/tsconfig.build.json
Due: core, plugins

Update Logger.d.ts
  plugins/active-directory/tests/__mocks__/Logger.d.ts
Due: plugins

test
  package.json
Due: none

build: release packages (#761)
  .changeset/modern-places-drive.md
  tools/eslint/CHANGELOG.md
  tools/eslint/package.json
Due: none

fix: move dep as peerdependencies
  .changeset/big-coins-hear.md
  package.json
  pnpm-lock.yaml
  tools/eslint/README.md
  tools/eslint/package.json
Due: none

Update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

build: release packages (#762)
  .changeset/big-coins-hear.md
  tools/eslint/CHANGELOG.md
  tools/eslint/package.json
Due: none

feat: restore eslint-plugin-verdaccio
  .changeset/humble-towns-enjoy.md
  package.json
  pnpm-lock.yaml
  tools/eslint-plugin-verdaccio/CHANGELOG.md
  tools/eslint-plugin-verdaccio/LICENSE
  tools/eslint-plugin-verdaccio/README.md
  tools/eslint-plugin-verdaccio/docs/rules/jsx-no-classname-object.md
  tools/eslint-plugin-verdaccio/docs/rules/jsx-no-style.md
  tools/eslint-plugin-verdaccio/docs/rules/jsx-spread.md
  tools/eslint-plugin-verdaccio/eslint.config.mjs
  tools/eslint-plugin-verdaccio/lib/index.js
  tools/eslint-plugin-verdaccio/lib/rules/jsx-no-classname-object.js
  tools/eslint-plugin-verdaccio/lib/rules/jsx-no-style.js
  tools/eslint-plugin-verdaccio/lib/rules/jsx-spread.js
  tools/eslint-plugin-verdaccio/package.json
  tools/eslint-plugin-verdaccio/tests/lib/rules/jsx-no-classname-object.js
  tools/eslint-plugin-verdaccio/tests/lib/rules/jsx-no-style.js
  tools/eslint-plugin-verdaccio/tests/lib/rules/jsx-spread.js
  tools/eslint/README.md
  tools/eslint/package.json
  tools/eslint/src/index.js
Due: none

feat: restore eslint-plugin-verdaccio
  pnpm-lock.yaml
  tools/eslint/package.json
  tools/eslint/src/index.js
Due: none

Update package.json
  tools/eslint-plugin-verdaccio/package.json
Due: none

Update ci.yml
  .github/workflows/ci.yml
Due: none

fix package
  pnpm-lock.yaml
  tools/eslint-plugin-verdaccio/eslint.config.mjs
  tools/eslint-plugin-verdaccio/package.json
  tools/eslint/package.json
Due: none

Update .verdaccio-db.json
  plugins/local-storage/tests/__fixtures__/test-storage/.verdaccio-db.json
Due: plugins

build: release packages (#763)
  .changeset/humble-towns-enjoy.md
  .github/workflows/ci.yml
  pnpm-lock.yaml
  tools/eslint-plugin-verdaccio/CHANGELOG.md
  tools/eslint-plugin-verdaccio/eslint.config.mjs
  tools/eslint-plugin-verdaccio/package.json
  tools/eslint/CHANGELOG.md
  tools/eslint/package.json
Due: none

chore: remove active-directory
  CHANGELOG.md
  package.json
  plugins/active-directory/.babelrc
  plugins/active-directory/.eslintignore
  plugins/active-directory/.gitignore
  plugins/active-directory/CHANGELOG.md
  plugins/active-directory/LICENSE
  plugins/active-directory/README.md
  plugins/active-directory/jest.config.js
  plugins/active-directory/jestEnvironment.js
  plugins/active-directory/package.json
  plugins/active-directory/src/active-directory.ts
  plugins/active-directory/src/index.ts
  plugins/active-directory/tests/__mocks__/Logger.d.ts
  plugins/active-directory/tests/__mocks__/Logger.ts
  plugins/active-directory/tests/active-directory.test.d.ts
  plugins/active-directory/tests/active-directory.test.ts
  plugins/active-directory/tsconfig.build.json
  plugins/active-directory/tsconfig.json
  pnpm-lock.yaml
Due: plugins

feat: add search remote feature opt-in
  .github/workflows/ci.yml
  plugins/local-storage-legacy/src/local-database.ts
  plugins/local-storage-legacy/src/remote-search.ts
  plugins/local-storage-legacy/tests/local-database.test.ts
  plugins/local-storage-legacy/tests/remote-search.test.ts
Due: plugins

format
  plugins/local-storage-legacy/src/local-database.ts
  plugins/local-storage-legacy/src/remote-search.ts
  plugins/local-storage-legacy/tests/remote-search.test.ts
Due: plugins

test
  core/file-locking/tests/lock.spec.ts
  core/file-locking/vite.config.ts
  core/streams/vite.config.ts
  plugins/auth-memory/test/index.spec.ts
  plugins/auth-memory/vite.config.ts
  plugins/local-storage-legacy/tests/__fixtures__/test-storage/.verdaccio-db.json
  plugins/local-storage-legacy/tests/local-database.test.ts
  plugins/local-storage-legacy/tests/local-fs.test.ts
  plugins/local-storage-legacy/tests/remote-search.test.ts
  plugins/local-storage-legacy/tests/token.test.ts
  plugins/local-storage-legacy/tests/utils.test.ts
  plugins/local-storage-legacy/vite.config.ts
  plugins/local-storage/tests/__fixtures__/test-storage/.verdaccio-db.json
  plugins/local-storage/tests/__mocks__/Logger.ts
  plugins/local-storage/tests/basic.test.ts
  plugins/local-storage/tests/local-database.test.ts
  plugins/local-storage/tests/local-fs.test.ts
  plugins/local-storage/tests/token.test.ts
  plugins/local-storage/tests/utils.test.ts
  plugins/local-storage/vite.config.ts
  plugins/memory/test/local-memory.spec.ts
  plugins/memory/test/memory.spec.ts
  plugins/memory/vite.config.ts
  tools/eslint/src/index.js
Due: core, plugins

test
  package.json
  plugins/local-storage-legacy/package.json
  plugins/local-storage-legacy/tests/__fixtures__/test-storage/.verdaccio-db.json
  plugins/local-storage/package.json
  plugins/local-storage/tests/__fixtures__/test-storage/.verdaccio-db.json
  pnpm-lock.yaml
Due: plugins

format
  .prettierignore
  plugins/local-storage-legacy/tests/__fixtures__/test-storage/.verdaccio-db.json
  plugins/local-storage/tests/__fixtures__/test-storage/.verdaccio-db.json
Due: plugins

e2e
  e2e/local-storage-legacy/package.json
  e2e/local-storage-legacy/tests/search.e2e.ts
  e2e/local-storage-legacy/vite.config.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

e2e
  .github/workflows/ci.yml
  README.md
  e2e/auth-memory/package.json
  e2e/auth-memory/tests/auth.e2e.ts
  e2e/auth-memory/vite.config.ts
  e2e/local-storage-legacy/tests/search.e2e.ts
  e2e/shared/package.json
  e2e/shared/src/index.ts
  e2e/shared/src/registry.ts
  package.json
  pnpm-lock.yaml
Due: none

format
  README.md
  e2e/auth-memory/tests/auth.e2e.ts
  e2e/local-storage-legacy/tests/search.e2e.ts
  e2e/shared/src/registry.ts
Due: none

format
  e2e/auth-memory/package.json
  e2e/auth-memory/tests/auth.e2e.ts
  e2e/shared/src/registry.ts
  pnpm-lock.yaml
  tsconfig.json
Due: none

ci
  .github/workflows/ci.yml
Due: none

Create progressive-search-remote.md
  .changeset/progressive-search-remote.md
Due: none

Update progressive-search-remote.md
  .changeset/progressive-search-remote.md
Due: none
