Repository verdaccio/monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: core, plugins

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 50%
      core:
        flags: core
        target: 50%
      plugins:
        flags: plugins
        target: 50%

flags:
  core:
    paths:
      - core/commons-api
      - core/file-locking
      - core/readme
      - core/streams
  plugins:
    paths:
      - plugins/active-directory
      - plugins/audit
      - plugins/auth-memory
      - plugins/aws-s3-storage
      - plugins/google-cloud
      - plugins/htpasswd
      - plugins/local-storage
      - plugins/memory

ci(github): add pull_request event
  .github/workflows/ci.yml
Due: none

fix: plugins/google-cloud/package.json & plugins/google-cloud/.snyk to reduce vulnerabilities
  plugins/google-cloud/.snyk
  plugins/google-cloud/package.json
Due: plugins

revert: replacing fs.existsSync as it is not deprecated
  plugins/local-storage/tests/local-fs.test.ts
Due: plugins

fix: fs.exists with other fileSystem alternatives (#159)
  plugins/memory/src/memory-handler.ts
Due: plugins

feat: update to typescript 3.7.0-beta
  package.json
  yarn.lock
Due: none

refactor (ts-ignore): Ensure contents are defined, otherwise return empty array; cast to type alias
  plugins/aws-s3-storage/src/deleteKeyPrefix.ts
Due: plugins

refactor (ts-ignore): Ensure response body is defined, otherwise assume empty string
  plugins/aws-s3-storage/src/s3PackageManager.ts
Due: plugins

doc (ts-ignore): add todo comment on how to get rid of ts-ignore at callback
  plugins/aws-s3-storage/src/s3PackageManager.ts
Due: plugins

refactor (ts-ignore): remove ts-ignore by adding more detailed typings (breaking public parameter types)
  plugins/aws-s3-storage/src/s3PackageManager.ts
Due: plugins

feat: added eslint rule import/order
  tools/eslint-config/rules/import.js
Due: none

fix: fixed lint errors
  core/commons-api/test/errors.spec.ts
  core/file-locking/src/__tests__/lock.spec.ts
  core/file-locking/src/index.ts
  core/readme/tests/readme.spec.ts
  plugins/audit/src/audit.ts
  plugins/audit/tests/audit.spec.ts
  tools/eslint-config/rules/import.js
  yarn.lock
Due: core, plugins

fix: quotes should be single
  core/commons-api/test/errors.spec.ts
  core/file-locking/src/__tests__/lock.spec.ts
  core/file-locking/src/index.ts
  core/readme/tests/readme.spec.ts
Due: core

fix: fixed lint errors
  core/commons-api/test/errors.spec.ts
  core/file-locking/src/__tests__/lock.spec.ts
  core/file-locking/src/index.ts
  core/readme/tests/readme.spec.ts
  plugins/active-directory/tests/active-directory.test.ts
  plugins/auth-memory/test/index.spec.ts
  plugins/aws-s3-storage/src/deleteKeyPrefix.ts
  plugins/aws-s3-storage/src/index.ts
  plugins/aws-s3-storage/src/s3PackageManager.ts
  plugins/aws-s3-storage/tests/index.test.ts
  plugins/aws-s3-storage/tests/s3PackageManager.test.ts
  plugins/google-cloud/src/data-storage.ts
  plugins/google-cloud/src/storage-helper.ts
  plugins/google-cloud/src/storage.ts
  plugins/google-cloud/tests/datastore.spec.ts
  plugins/google-cloud/tests/storage.spec.ts
  plugins/htpasswd/src/crypt3.ts
  plugins/htpasswd/src/htpasswd.ts
  plugins/htpasswd/src/utils.ts
  plugins/htpasswd/tests/htpasswd.test.ts
  plugins/local-storage/src/local-database.ts
  plugins/local-storage/src/pkg-utils.ts
  plugins/local-storage/src/utils.ts
  plugins/local-storage/tests/local-database.test.ts
  plugins/local-storage/tests/local-fs.test.ts
  plugins/local-storage/tests/utils.test.ts
  plugins/memory/src/local-memory.ts
  plugins/memory/src/memory-handler.ts
  plugins/memory/test/memory.spec.ts
  tools/eslint-config/index.js
  tools/eslint-config/rules/import.js
Due: core, plugins

refactor: moved plugin
  tools/eslint-config/index.js
  tools/eslint-config/rules/import.js
Due: none

refactor (tslint-ignore): change from explicit check for undefined to only check if truthy
  plugins/aws-s3-storage/src/deleteKeyPrefix.ts
  plugins/aws-s3-storage/src/s3PackageManager.ts
Due: plugins

Revert "refactor (tslint-ignore): change from explicit check for undefined to only check if truthy"
  plugins/aws-s3-storage/src/deleteKeyPrefix.ts
  plugins/aws-s3-storage/src/s3PackageManager.ts
Due: plugins

refactor(verdaccio-aws-s3-storage): clean some ts-ignore annotations
  plugins/aws-s3-storage/src/deleteKeyPrefix.ts
  plugins/aws-s3-storage/src/s3PackageManager.ts
Due: plugins

chore: publish release v8.2.0-next.0
  CHANGELOG.md
  core/commons-api/CHANGELOG.md
  core/commons-api/package.json
  core/file-locking/CHANGELOG.md
  core/file-locking/package.json
  core/readme/CHANGELOG.md
  core/readme/package.json
  core/streams/CHANGELOG.md
  core/streams/package.json
  lerna.json
  plugins/active-directory/CHANGELOG.md
  plugins/active-directory/package.json
  plugins/audit/CHANGELOG.md
  plugins/audit/package.json
  plugins/auth-memory/CHANGELOG.md
  plugins/auth-memory/package.json
  plugins/aws-s3-storage/CHANGELOG.md
  plugins/aws-s3-storage/package.json
  plugins/google-cloud/CHANGELOG.md
  plugins/google-cloud/package.json
  plugins/htpasswd/CHANGELOG.md
  plugins/htpasswd/package.json
  plugins/local-storage/CHANGELOG.md
  plugins/local-storage/package.json
  plugins/memory/CHANGELOG.md
  plugins/memory/package.json
  tools/babel-preset/CHANGELOG.md
  tools/babel-preset/package.json
  tools/eslint-config/CHANGELOG.md
  tools/eslint-config/package.json
  tools/eslint-plugin-verdaccio/CHANGELOG.md
  tools/eslint-plugin-verdaccio/package.json
Due: core, plugins

feat: add http-status-codes dep
  core/commons-api/package.json
  core/commons-api/src/index.ts
  yarn.lock
Due: core

chore: pin dep
  core/commons-api/package.json
  yarn.lock
Due: core

feat: add testing-utilities package
  tools/testing-utilities/.babelrc
  tools/testing-utilities/.eslintignore
  tools/testing-utilities/.eslintrc.json
  tools/testing-utilities/.gitignore
  tools/testing-utilities/LICENSE
  tools/testing-utilities/README.md
  tools/testing-utilities/jest.config.js
  tools/testing-utilities/jestEnvironment.js
  tools/testing-utilities/package.json
  tools/testing-utilities/src/index.ts
  tools/testing-utilities/src/package-generator.ts
  tools/testing-utilities/tsconfig.json
Due: none

chore: remove import
  tools/testing-utilities/src/index.ts
Due: none

test(testing-utilities): add small test
  tools/testing-utilities/test/package-generator.spec.ts
Due: none

chore: upgrade require.requireActual -> jest.requireActual calls
  core/readme/jestEnvironment.js
  core/streams/jestEnvironment.js
  plugins/active-directory/jestEnvironment.js
  plugins/audit/jestEnvironment.js
  plugins/auth-memory/jestEnvironment.js
  plugins/aws-s3-storage/jestEnvironment.js
  plugins/google-cloud/jestEnvironment.js
  plugins/htpasswd/jestEnvironment.js
  plugins/htpasswd/tests/htpasswd.test.ts
  plugins/local-storage/jestEnvironment.js
  plugins/memory/jestEnvironment.js
Due: core, plugins

fix: core/readme/package.json to reduce vulnerabilities
  core/readme/package.json
Due: core

fix: core/readme/package.json to reduce vulnerabilities (#216)
  core/readme/package.json
Due: core

refactor: upgrade require.requireActual -> jest.requireActual calls (#215)
  core/readme/jestEnvironment.js
  core/streams/jestEnvironment.js
  plugins/active-directory/jestEnvironment.js
  plugins/audit/jestEnvironment.js
  plugins/auth-memory/jestEnvironment.js
  plugins/aws-s3-storage/jestEnvironment.js
  plugins/google-cloud/jestEnvironment.js
  plugins/htpasswd/jestEnvironment.js
  plugins/htpasswd/tests/htpasswd.test.ts
  plugins/local-storage/jestEnvironment.js
  plugins/memory/jestEnvironment.js
Due: core, plugins

chore: publish release v8.2.0
  CHANGELOG.md
  core/commons-api/CHANGELOG.md
  core/commons-api/package.json
  core/file-locking/CHANGELOG.md
  core/file-locking/package.json
  core/readme/CHANGELOG.md
  core/readme/package.json
  core/streams/CHANGELOG.md
  core/streams/package.json
  lerna.json
  plugins/active-directory/CHANGELOG.md
  plugins/active-directory/package.json
  plugins/audit/CHANGELOG.md
  plugins/audit/package.json
  plugins/auth-memory/CHANGELOG.md
  plugins/auth-memory/package.json
  plugins/aws-s3-storage/CHANGELOG.md
  plugins/aws-s3-storage/package.json
  plugins/google-cloud/CHANGELOG.md
  plugins/google-cloud/package.json
  plugins/htpasswd/CHANGELOG.md
  plugins/htpasswd/package.json
  plugins/local-storage/CHANGELOG.md
  plugins/local-storage/package.json
  plugins/memory/CHANGELOG.md
  plugins/memory/package.json
  tools/babel-preset/CHANGELOG.md
  tools/babel-preset/package.json
  tools/eslint-config/CHANGELOG.md
  tools/eslint-config/package.json
  tools/eslint-plugin-verdaccio/CHANGELOG.md
  tools/eslint-plugin-verdaccio/package.json
Due: core, plugins

chore: update readme
  tools/testing-utilities/README.md
Due: none

feat: add testing-utilities package (#214)
  tools/testing-utilities/.babelrc
  tools/testing-utilities/.eslintignore
  tools/testing-utilities/.eslintrc.json
  tools/testing-utilities/.gitignore
  tools/testing-utilities/LICENSE
  tools/testing-utilities/README.md
  tools/testing-utilities/jest.config.js
  tools/testing-utilities/jestEnvironment.js
  tools/testing-utilities/package.json
  tools/testing-utilities/src/index.ts
  tools/testing-utilities/src/package-generator.ts
  tools/testing-utilities/test/package-generator.spec.ts
  tools/testing-utilities/tsconfig.json
Due: none

chore: update lock file
  yarn.lock
Due: none

feat: add http-status-codes dep (#212)
  core/commons-api/package.json
  core/commons-api/src/index.ts
  yarn.lock
Due: core

Improve auth callback TS types
  core/types/index.d.ts
Due: none

459:79 error Insert `;` prettier/prettier
  core/types/index.d.ts
Due: none

feat: improve auth callback TS types (#225)
  core/types/index.d.ts
Due: none

chore: publish release v8.3.0
  CHANGELOG.md
  core/commons-api/CHANGELOG.md
  core/commons-api/package.json
  core/file-locking/CHANGELOG.md
  core/file-locking/package.json
  core/readme/CHANGELOG.md
  core/readme/package.json
  core/streams/CHANGELOG.md
  core/streams/package.json
  core/types/CHANGELOG.md
  core/types/package.json
  lerna.json
  plugins/active-directory/CHANGELOG.md
  plugins/active-directory/package.json
  plugins/audit/CHANGELOG.md
  plugins/audit/package.json
  plugins/auth-memory/CHANGELOG.md
  plugins/auth-memory/package.json
  plugins/aws-s3-storage/CHANGELOG.md
  plugins/aws-s3-storage/package.json
  plugins/google-cloud/CHANGELOG.md
  plugins/google-cloud/package.json
  plugins/htpasswd/CHANGELOG.md
  plugins/htpasswd/package.json
  plugins/local-storage/CHANGELOG.md
  plugins/local-storage/package.json
  plugins/memory/CHANGELOG.md
  plugins/memory/package.json
  tools/testing-utilities/CHANGELOG.md
  tools/testing-utilities/package.json
Due: core, plugins

fix: adds sort_packages in WebConf Interface
  core/types/index.d.ts
Due: none

chore: update dependencies and devDependencies
  core/commons-api/package.json
  package.json
  plugins/aws-s3-storage/package.json
  plugins/google-cloud/package.json
  plugins/htpasswd/package.json
  tools/babel-preset/package.json
  tools/eslint-config/package.json
  tools/eslint-plugin-verdaccio/package.json
  yarn.lock
Due: core, plugins
