Repository verdaccio/monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: core, plugins

chore: reenable canary release
  .circleci/config.yml
Due: none

chore: notes
  core/file-locking/src/lockfile.ts
Due: core

refactor: file-locking (#335)
  .circleci/config.yml
  core/file-locking/src/__tests__/__snapshots__/lock.spec.ts.snap
  core/file-locking/src/__tests__/lock.spec.ts
  core/file-locking/src/index.ts
  core/file-locking/src/lockfile.ts
  core/file-locking/src/readFile.ts
  core/file-locking/src/unclock.ts
  core/file-locking/src/utils.ts
  core/file-locking/tsconfig.json
  core/streams/src/index.ts
  plugins/htpasswd/.babelrc
  plugins/htpasswd/src/htpasswd.ts
  plugins/htpasswd/src/utils.ts
  plugins/htpasswd/tests/htpasswd.test.ts
  plugins/htpasswd/tests/utils.test.ts
  plugins/memory/src/local-memory.ts
Due: core, plugins

refactor: fix lint warnings
  plugins/memory/.babelrc
  plugins/memory/jest.config.js
  plugins/memory/package.json
  plugins/memory/src/local-memory.ts
  plugins/memory/src/memory-handler.ts
  plugins/memory/test/memory.spec.ts
  plugins/memory/test/partials/config.ts
Due: plugins

chore: refactor not found
  plugins/memory/src/memory-handler.ts
Due: plugins

refactor: fix lint warnings (#336)
  plugins/memory/.babelrc
  plugins/memory/jest.config.js
  plugins/memory/package.json
  plugins/memory/src/local-memory.ts
  plugins/memory/src/memory-handler.ts
  plugins/memory/test/memory.spec.ts
  plugins/memory/test/partials/config.ts
Due: plugins

fix: security dependency jsdom@16.2.0 update
  core/readme/package.json
  yarn.lock
Due: core

docs: aws-s3-storage: modified README.md to add the introduction and added few more information
  plugins/aws-s3-storage/README.md
Due: plugins

fix: security dependency jsdom@16.2.0 update (#338)
  core/readme/package.json
  yarn.lock
Due: core

chore: publish release v9.3.2
  CHANGELOG.md
  core/commons-api/CHANGELOG.md
  core/commons-api/package.json
  core/file-locking/CHANGELOG.md
  core/file-locking/package.json
  core/readme/CHANGELOG.md
  core/readme/package.json
  core/streams/CHANGELOG.md
  core/streams/package.json
  lerna.json
  plugins/active-directory/CHANGELOG.md
  plugins/active-directory/package.json
  plugins/audit/CHANGELOG.md
  plugins/audit/package.json
  plugins/auth-memory/CHANGELOG.md
  plugins/auth-memory/package.json
  plugins/aws-s3-storage/CHANGELOG.md
  plugins/aws-s3-storage/package.json
  plugins/google-cloud/CHANGELOG.md
  plugins/google-cloud/package.json
  plugins/htpasswd/CHANGELOG.md
  plugins/htpasswd/package.json
  plugins/local-storage/CHANGELOG.md
  plugins/local-storage/package.json
  plugins/memory/CHANGELOG.md
  plugins/memory/package.json
  tools/babel-preset/CHANGELOG.md
  tools/babel-preset/package.json
  tools/eslint-config/CHANGELOG.md
  tools/eslint-config/package.json
  tools/eslint-plugin-verdaccio/CHANGELOG.md
  tools/eslint-plugin-verdaccio/package.json
  tools/testing-utilities/CHANGELOG.md
  tools/testing-utilities/package.json
Due: core, plugins

fix: update jsdom@16.2.1
  core/readme/package.json
  yarn.lock
Due: core

fix: update jsdom@16.2.1 (#340)
  core/readme/package.json
  yarn.lock
Due: core

chore: publish release v9.3.3
  CHANGELOG.md
  core/readme/CHANGELOG.md
  core/readme/package.json
  lerna.json
Due: core

fix: update mkdirp@1.0.3
  plugins/local-storage/package.json
  yarn.lock
Due: plugins

chore: mkdirp now returns a promise
  plugins/local-storage/src/local-fs.ts
Due: plugins

fix: update mkdirp@1.0.3 (#341)
  plugins/local-storage/package.json
  plugins/local-storage/src/local-fs.ts
  yarn.lock
Due: plugins

chore: publish release v9.3.4
  CHANGELOG.md
  lerna.json
  plugins/local-storage/CHANGELOG.md
  plugins/local-storage/package.json
Due: plugins

feat: update babel@7.9.x
  package.json
  tools/babel-preset/package.json
  yarn.lock
Due: none

feat: update babel@7.9.x (#343)
  package.json
  tools/babel-preset/package.json
  yarn.lock
Due: none

chore: publish release v9.4.0
  CHANGELOG.md
  core/commons-api/CHANGELOG.md
  core/commons-api/package.json
  core/file-locking/CHANGELOG.md
  core/file-locking/package.json
  core/readme/CHANGELOG.md
  core/readme/package.json
  core/streams/CHANGELOG.md
  core/streams/package.json
  lerna.json
  plugins/active-directory/CHANGELOG.md
  plugins/active-directory/package.json
  plugins/audit/CHANGELOG.md
  plugins/audit/package.json
  plugins/auth-memory/CHANGELOG.md
  plugins/auth-memory/package.json
  plugins/aws-s3-storage/CHANGELOG.md
  plugins/aws-s3-storage/package.json
  plugins/google-cloud/CHANGELOG.md
  plugins/google-cloud/package.json
  plugins/htpasswd/CHANGELOG.md
  plugins/htpasswd/package.json
  plugins/local-storage/CHANGELOG.md
  plugins/local-storage/package.json
  plugins/memory/CHANGELOG.md
  plugins/memory/package.json
  tools/babel-preset/CHANGELOG.md
  tools/babel-preset/package.json
  tools/testing-utilities/CHANGELOG.md
  tools/testing-utilities/package.json
Due: core, plugins

chore: remove azure pipelines tag
  README.md
Due: none

fix: upgrade request from 2.88.0 to 2.88.2
  plugins/audit/package.json
Due: plugins

fix: upgrade eslint-plugin-import from 2.19.1 to 2.20.1
  tools/eslint-config/package.json
Due: none

fix: upgrade @google-cloud/datastore from 4.5.0 to 4.5.2
  plugins/google-cloud/package.json
Due: plugins

fix: upgrade apache-md5 from 1.1.2 to 1.1.5
  plugins/htpasswd/package.json
Due: plugins

fix: upgrade eslint-plugin-jest from 23.8.0 to 23.8.1
  tools/eslint-config/package.json
Due: none

fix: upgrade @typescript-eslint/eslint-plugin from 2.21.0 to 2.22.0
  tools/eslint-config/package.json
Due: none

chore: add after_n_builds to codecov
  codecov.yml
Due: none

chore: improve readmes of tools packages
  README.md
  tools/README.md
  tools/babel-preset/README.md
  tools/eslint-config/LICENSE
  tools/eslint-config/README.md
  tools/eslint-plugin-verdaccio/README.md
  tools/testing-utilities/README.md
Due: none

chore: update tools dependencies and deprecate Node 8
  core/file-locking/src/lockfile.ts
  core/file-locking/src/readFile.ts
  core/file-locking/src/unclock.ts
  core/file-locking/src/utils.ts
  core/streams/src/index.ts
  core/streams/test/mystreams.spec.ts
  package.json
  plugins/auth-memory/test/index.spec.ts
  plugins/aws-s3-storage/src/s3PackageManager.ts
  plugins/aws-s3-storage/tests/s3PackageManager.test.ts
  plugins/aws-s3-storage/tests/s3PackageManagerMockedS3.test.ts
  plugins/google-cloud/src/storage.ts
  plugins/htpasswd/src/index.ts
  plugins/htpasswd/src/utils.ts
  plugins/htpasswd/tests/crypt3.test.ts
  plugins/htpasswd/tests/htpasswd.test.ts
  plugins/local-storage/src/local-database.ts
  plugins/local-storage/src/local-fs.ts
  plugins/local-storage/tests/local-fs.test.ts
  plugins/memory/src/memory-handler.ts
  tools/README.md
  tools/babel-preset/lib/builder.js
  tools/babel-preset/package.json
  tools/eslint-config/package.json
  tools/eslint-config/rules/prettier.js
  tools/eslint-plugin-verdaccio/lib/rules/jsx-no-classname-object.js
  tools/eslint-plugin-verdaccio/lib/rules/jsx-no-style.js
  tools/eslint-plugin-verdaccio/lib/rules/jsx-spread.js
  tools/eslint-plugin-verdaccio/package.json
  tools/testing-utilities/package.json
  yarn.lock
Due: core, plugins

chore: publish release v10.0.0-next.0
  CHANGELOG.md
  core/commons-api/CHANGELOG.md
  core/commons-api/package.json
  core/file-locking/CHANGELOG.md
  core/file-locking/package.json
  core/readme/CHANGELOG.md
  core/readme/package.json
  core/streams/CHANGELOG.md
  core/streams/package.json
  lerna.json
  plugins/active-directory/CHANGELOG.md
  plugins/active-directory/package.json
  plugins/audit/CHANGELOG.md
  plugins/audit/package.json
  plugins/auth-memory/CHANGELOG.md
  plugins/auth-memory/package.json
  plugins/aws-s3-storage/CHANGELOG.md
  plugins/aws-s3-storage/package.json
  plugins/google-cloud/CHANGELOG.md
  plugins/google-cloud/package.json
  plugins/htpasswd/CHANGELOG.md
  plugins/htpasswd/package.json
  plugins/local-storage/CHANGELOG.md
  plugins/local-storage/package.json
  plugins/memory/CHANGELOG.md
  plugins/memory/package.json
  tools/babel-preset/CHANGELOG.md
  tools/babel-preset/package.json
  tools/eslint-config/CHANGELOG.md
  tools/eslint-config/package.json
  tools/eslint-plugin-verdaccio/CHANGELOG.md
  tools/eslint-plugin-verdaccio/package.json
  tools/testing-utilities/CHANGELOG.md
  tools/testing-utilities/package.json
Due: core, plugins

chore: improve VSCode devContainer settings
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: none

fix: upgrade marked from 0.7.0 to 0.8.1
  core/readme/package.json
Due: core

chore: update dependencies
  package.json
  tools/babel-preset/package.json
  tools/eslint-config/package.json
  yarn.lock
Due: none

chore: publish release v10.0.0-next.1
  CHANGELOG.md
  core/commons-api/CHANGELOG.md
  core/commons-api/package.json
  core/file-locking/CHANGELOG.md
  core/file-locking/package.json
  core/readme/CHANGELOG.md
  core/readme/package.json
  core/streams/CHANGELOG.md
  core/streams/package.json
  lerna.json
  plugins/active-directory/CHANGELOG.md
  plugins/active-directory/package.json
  plugins/audit/CHANGELOG.md
  plugins/audit/package.json
  plugins/auth-memory/CHANGELOG.md
  plugins/auth-memory/package.json
  plugins/aws-s3-storage/CHANGELOG.md
  plugins/aws-s3-storage/package.json
  plugins/google-cloud/CHANGELOG.md
  plugins/google-cloud/package.json
  plugins/htpasswd/CHANGELOG.md
  plugins/htpasswd/package.json
  plugins/local-storage/CHANGELOG.md
  plugins/local-storage/package.json
  plugins/memory/CHANGELOG.md
  plugins/memory/package.json
  tools/babel-preset/CHANGELOG.md
  tools/babel-preset/package.json
  tools/eslint-config/CHANGELOG.md
  tools/eslint-config/package.json
  tools/eslint-plugin-verdaccio/CHANGELOG.md
  tools/eslint-plugin-verdaccio/package.json
  tools/testing-utilities/CHANGELOG.md
  tools/testing-utilities/package.json
Due: core, plugins

refactor(streams): replace native stream with readable-stream
  core/streams/package.json
  core/streams/src/index.ts
  core/types/index.d.ts
  package.json
  yarn.lock
Due: core

fix: upgrade jsdom from 16.2.1 to 16.2.2
  core/readme/package.json
Due: core

fix: upgrade mkdirp from 1.0.3 to 1.0.4
  plugins/local-storage/package.json
Due: plugins

fix(verdaccio-htpasswd): generate non-constant legacy 2 byte salt
  plugins/htpasswd/src/crypt3.ts
  plugins/htpasswd/tests/crypt3.test.ts
  plugins/htpasswd/tests/htpasswd.test.ts
  plugins/htpasswd/tests/utils.test.ts
Due: plugins

fix(verdaccio-htpasswd): supply old password to crypt3 on change
  plugins/htpasswd/src/utils.ts
  plugins/htpasswd/tests/utils.test.ts
Due: plugins

Path conditions:
  core: any of: core/commons-api, core/file-locking, core/readme, core/streams
  plugins: any of: plugins/active-directory, plugins/audit, plugins/auth-memory, plugins/aws-s3-storage, plugins/google-cloud, plugins/htpasswd, plugins/local-storage, plugins/memory
