Repository verdaccio/monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: core, plugins

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 50%
      core:
        flags: core
        target: 50%
      plugins:
        flags: plugins
        target: 50%

flags:
  core:
    paths:
      - core/commons-api
      - core/file-locking
      - core/readme
      - core/streams
  plugins:
    paths:
      - plugins/active-directory
      - plugins/audit
      - plugins/auth-memory
      - plugins/aws-s3-storage
      - plugins/google-cloud
      - plugins/htpasswd
      - plugins/local-storage
      - plugins/memory

chore(deps): update dependency snyk to v1.720.0
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update jest monorepo to v26.6.3
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update typescript-eslint monorepo to v4.31.2
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update actions/setup-node action to v2
  .github/workflows/ci.yml
Due: none

chore(deps): update dependency @octokit/rest to v18
  plugins/htpasswd/package.json
  pnpm-lock.yaml
Due: plugins

chore(deps): update dependency @types/jest to v27
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency @types/node to v14.17.18
  core/types/package.json
  package.json
  plugins/local-storage/package.json
  pnpm-lock.yaml
Due: plugins

chore(deps): update dependency babel-plugin-emotion to v11
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency eslint-config-prettier to v8
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency eslint-plugin-verdaccio to v10
  package.json
  pnpm-lock.yaml
Due: none

update lockfile
  pnpm-lock.yaml
Due: none

chore(deps): update dependency @types/lodash to v4.14.174
  package.json
  pnpm-lock.yaml
Due: none

update lockfile
  renovate.json
Due: none

remove dep
  plugins/htpasswd/package.json
  pnpm-lock.yaml
  renovate.json
Due: plugins

chore(deps): update dependency @types/jest to v26.0.24
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency typescript to v3.9.10
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency fast-crc32c to v2
  plugins/google-cloud/package.json
  pnpm-lock.yaml
Due: plugins

chore(deps): update dependency husky to v7
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency typescript to v4
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency lint-staged to v11
  package.json
  pnpm-lock.yaml
Due: none

update renovate
  renovate.json
Due: none

chore(deps): update verdaccio/verdaccio docker tag to v5
  plugins/aws-s3-storage/Dockerfile
Due: plugins

chore(deps): update dependency eslint-plugin-jest to v24.4.2
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency @types/memory-fs to v0.3.3
  package.json
  pnpm-lock.yaml
Due: none

fix(deps): update dependency activedirectory2 to v2
  plugins/active-directory/package.json
  pnpm-lock.yaml
Due: plugins

fix(deps): update dependency http-status-codes to v2
  core/commons-api/package.json
  pnpm-lock.yaml
Due: core

fix(deps): update dependency jsdom to v17
  core/readme/package.json
  pnpm-lock.yaml
Due: core

fix(deps): update dependency lowdb to v3
  plugins/local-storage/package.json
  pnpm-lock.yaml
Due: plugins

fix(deps): update dependency marked to v3
  core/readme/package.json
  pnpm-lock.yaml
Due: core

fix(deps): update dependency node-fetch to v3
  plugins/audit/package.json
  pnpm-lock.yaml
Due: plugins

chore(deps): update dependency eslint-plugin-jest to v24.5.0
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency eslint-plugin-react to v7.26.1
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency snyk to v1.729.0
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency @types/lodash to v4.14.175
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency @types/node to v14.17.20
  core/types/package.json
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update jest monorepo to v27
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency snyk to v1.730.0
  package.json
  pnpm-lock.yaml
Due: none
