Repository verdaccio/monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: core, plugins

chore: fix test aws
  plugins/aws-s3-storage/tests/index.test.ts
Due: plugins

fix(deps): update dependency eslint-plugin-jest to v26
  package.json
  pnpm-lock.yaml
Due: none

fix(deps): update all core dependencies
  core/readme/package.json
  package.json
  pnpm-lock.yaml
Due: core

fix(deps): update all core dependencies
  package.json
  pnpm-lock.yaml
Due: none

chore: add changeset
  .changeset/giant-queens-march.md
Due: none

fix(deps): update dependency eslint to v8.9.0
  package.json
  pnpm-lock.yaml
Due: none

fix(deps): update dependency minimatch to v4
  plugins/local-storage/package.json
  pnpm-lock.yaml
Due: plugins

fix(deps): update all core dependencies to v5.12.0
  package.json
  pnpm-lock.yaml
Due: none

fix: restore dompurify dependency
  .changeset/stupid-rings-protect.md
  core/readme/package.json
  pnpm-lock.yaml
Due: core

fix: restore dompurify dependency (#553)
  .changeset/stupid-rings-protect.md
  core/readme/package.json
  pnpm-lock.yaml
Due: core

fix: downgrade jsdom
  .changeset/tiny-rocks-grin.md
  core/readme/package.json
  pnpm-lock.yaml
Due: core

fix: downgrade jsdom (#555)
  .changeset/tiny-rocks-grin.md
  core/readme/package.json
  pnpm-lock.yaml
Due: core

fix(deps): update dependency jsdom to v19
  core/readme/package.json
  pnpm-lock.yaml
Due: core

fix: refactor htpasswd plugin to use the bcryptjs 'compare' api call instead of 'compareSync' (#560)
  .changeset/bright-suits-knock.md
  plugins/htpasswd/README.md
  plugins/htpasswd/src/htpasswd.ts
  plugins/htpasswd/src/utils.ts
  plugins/htpasswd/tests/__fixtures__/htpasswd
  plugins/htpasswd/tests/__mocks__/Logger.ts
  plugins/htpasswd/tests/htpasswd.test.ts
  plugins/htpasswd/tests/utils.test.ts
Due: plugins

fix(deps): update all core dependencies
  core/readme/package.json
  package.json
  plugins/audit/package.json
  plugins/local-storage/package.json
  pnpm-lock.yaml
Due: core, plugins

chore: add changeset
  .changeset/nasty-pets-agree.md
Due: none

fix(deps): update all core dependencies
  .github/workflows/ci.yml
  package.json
  plugins/audit/package.json
  pnpm-lock.yaml
Due: plugins

fix(deps): update dependency snyk to v1.908.0
  package.json
  pnpm-lock.yaml
Due: none

Update ci.yml
  .github/workflows/ci.yml
Due: none

Update changesets.yml
  .github/workflows/changesets.yml
Due: none

Delete release.yml
  .github/workflows/release.yml
Due: none

chore: update ci
  .github/workflows/ci.yml
Due: none

fix(deps): update all core dependencies
  core/readme/package.json
  package.json
  plugins/audit/package.json
  pnpm-lock.yaml
Due: core, plugins

chore: add changeset for release
  .changeset/new-turkeys-develop.md
Due: none

chore: update engines monorepo
  package.json
Due: none

update guidelines
  .github/workflows/ci.yml
  .nvmrc
  CONTRIBUTING.md
Due: none

update guidelines (#568)
  .github/workflows/ci.yml
  .nvmrc
  CONTRIBUTING.md
Due: none

fix: Fix storing same named files from different pkgs in memory plugin
  .changeset/cold-files-drop.md
  plugins/memory/src/memory-handler.ts
  plugins/memory/test/memory.spec.ts
Due: plugins

fix: Fix storing same named files from different pkgs in memory plugin (#571)
  .changeset/cold-files-drop.md
  plugins/memory/src/memory-handler.ts
  plugins/memory/test/memory.spec.ts
Due: plugins

feat: update configuration types
  .changeset/wet-jeans-share.md
  core/types/index.d.ts
Due: none

feat: update configuration types (#574)
  .changeset/wet-jeans-share.md
  core/types/index.d.ts
Due: none

fix: restore config yaml property
  .changeset/dirty-games-mate.md
  core/types/index.d.ts
Due: none

fix: user_agent property
  .changeset/two-kings-explode.md
  core/types/index.d.ts
Due: none

fix(deps): update dependency eslint-plugin-jest to v26.5.3
  package.json
  pnpm-lock.yaml
Due: none

chore: refactor types structure
  core/file-locking/src/utils.ts
  core/types/.gitignore
  core/types/README.md
  core/types/index.d.ts
  core/types/package.json
  core/types/src/commons.ts
  core/types/src/configuration.ts
  core/types/src/manifest.ts
  core/types/src/plugins/auth.ts
  core/types/src/plugins/commons.ts
  core/types/src/plugins/filter.ts
  core/types/src/plugins/index.ts
  core/types/src/plugins/middleware.ts
  core/types/src/plugins/storage.ts
  core/types/src/plugins/theme.ts
  core/types/src/types.ts
  core/types/tsconfig.json
  core/types/typedoc.json
  package.json
  plugins/aws-s3-storage/src/index.ts
  plugins/aws-s3-storage/src/s3PackageManager.ts
  plugins/google-cloud/src/data-storage.ts
  plugins/google-cloud/src/storage.ts
  plugins/local-storage/src/local-database.ts
  plugins/local-storage/src/pkg-utils.ts
  plugins/memory/src/memory-handler.ts
  pnpm-lock.yaml
Due: core, plugins

Update tsconfig.json
  core/types/tsconfig.json
Due: none

Path conditions:
  core: any of: core/commons-api, core/file-locking, core/readme, core/streams
  plugins: any of: plugins/active-directory, plugins/audit, plugins/auth-memory, plugins/aws-s3-storage, plugins/google-cloud, plugins/htpasswd, plugins/local-storage, plugins/memory
