Repository verdaccio/monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: core, plugins

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 50%
      core:
        flags: core
        target: 50%
      plugins:
        flags: plugins
        target: 50%

flags:
  core:
    paths:
      - core/commons-api
      - core/file-locking
      - core/readme
      - core/streams
  plugins:
    paths:
      - plugins/active-directory
      - plugins/audit
      - plugins/auth-memory
      - plugins/aws-s3-storage
      - plugins/google-cloud
      - plugins/htpasswd
      - plugins/local-storage
      - plugins/memory

chore: fix coverage target values
  codecov.yml
Due: none

chore: fix typo in README
  README.md
Due: none

chore: add codecov badge
  README.md
Due: none

chore: publish release v8.0.0-next.4
  CHANGELOG.md
  core/commons-api/CHANGELOG.md
  core/commons-api/package.json
  core/file-locking/CHANGELOG.md
  core/file-locking/package.json
  core/readme/CHANGELOG.md
  core/readme/package.json
  core/streams/CHANGELOG.md
  core/streams/package.json
  core/types/CHANGELOG.md
  core/types/package.json
  lerna.json
  plugins/active-directory/CHANGELOG.md
  plugins/active-directory/package.json
  plugins/audit/CHANGELOG.md
  plugins/audit/package.json
  plugins/auth-memory/CHANGELOG.md
  plugins/auth-memory/package.json
  plugins/aws-s3-storage/CHANGELOG.md
  plugins/aws-s3-storage/package.json
  plugins/google-cloud/CHANGELOG.md
  plugins/google-cloud/package.json
  plugins/htpasswd/CHANGELOG.md
  plugins/htpasswd/package.json
  plugins/local-storage/CHANGELOG.md
  plugins/local-storage/package.json
  plugins/memory/CHANGELOG.md
  plugins/memory/package.json
  tools/babel-preset/CHANGELOG.md
  tools/babel-preset/package.json
  tools/eslint-config/CHANGELOG.md
  tools/eslint-config/package.json
  tools/eslint-plugin-verdaccio/CHANGELOG.md
  tools/eslint-plugin-verdaccio/package.json
Due: core, plugins

chore: refactor contributing structure
  CONTRIBUTING.md
Due: none

chore: complete general sections in CONTRIBUTING
  CONTRIBUTING.md
Due: none

chore: complete development sections in CONTRIBUTING
  CONTRIBUTING.md
Due: none

chore: add VSCode Remote Development section to Contributing
  CONTRIBUTING.md
Due: none

chore: document better what to do when importing packages
  CONTRIBUTING.md
Due: none

chore: improve importing packages section
  CONTRIBUTING.md
Due: none

ci: publish pacakges to an in-memory registry to ensure publish works well
  .circleci/config.yml
  verdaccio.yml
Due: none

chore: add more badges
  README.md
Due: none

chore: improve greenkeeper config
  greenkeeper.json
Due: none

chore: force registry to install using our proxy
  .yarnrc
Due: none

chore: move greenkeeper badge to the first line
  README.md
Due: none

ci: publish every commit in a temporal in-memory registry
  .circleci/config.yml
  package.json
Due: none

chore: greenkeeper do not use yarnrc registry
  .yarnrc
Due: none

refactor(eslint-config): temporal set to warn some rules
  tools/eslint-config/rules/typescript.js
Due: none

chore: remove unnecessary package and download packages from our cache
  package.json
  yarn.lock
Due: none

chore: fix lockfile
  yarn.lock
Due: none

ci: publish every commit in our registry to allow users test their implementation
  .circleci/config.yml
Due: none

chore: fix README
  README.md
Due: none

chore: fix typo in Contributing
  CONTRIBUTING.md
Due: none

chore: publish release v8.0.0
  CHANGELOG.md
  core/commons-api/CHANGELOG.md
  core/commons-api/package.json
  core/file-locking/CHANGELOG.md
  core/file-locking/package.json
  core/readme/CHANGELOG.md
  core/readme/package.json
  core/streams/CHANGELOG.md
  core/streams/package.json
  core/types/CHANGELOG.md
  core/types/package.json
  lerna.json
  plugins/active-directory/CHANGELOG.md
  plugins/active-directory/package.json
  plugins/audit/CHANGELOG.md
  plugins/audit/package.json
  plugins/auth-memory/CHANGELOG.md
  plugins/auth-memory/package.json
  plugins/aws-s3-storage/CHANGELOG.md
  plugins/aws-s3-storage/package.json
  plugins/google-cloud/CHANGELOG.md
  plugins/google-cloud/package.json
  plugins/htpasswd/CHANGELOG.md
  plugins/htpasswd/package.json
  plugins/local-storage/CHANGELOG.md
  plugins/local-storage/package.json
  plugins/memory/CHANGELOG.md
  plugins/memory/package.json
  tools/babel-preset/CHANGELOG.md
  tools/babel-preset/package.json
  tools/eslint-config/CHANGELOG.md
  tools/eslint-config/package.json
  tools/eslint-plugin-verdaccio/CHANGELOG.md
  tools/eslint-plugin-verdaccio/package.json
Due: core, plugins

ci: improve canary publish following semver preid spec
  .circleci/config.yml
Due: none

refactor(active-directory): fix updated types
  plugins/active-directory/src/active-directory.ts
  plugins/active-directory/tests/active-directory.test.ts
Due: plugins

chore: simplify lint stage cycle
  CONTRIBUTING.md
  core/commons-api/package.json
  core/file-locking/package.json
  core/readme/package.json
  core/streams/package.json
  core/types/package.json
  package.json
  plugins/active-directory/package.json
  plugins/audit/package.json
  plugins/auth-memory/package.json
  plugins/aws-s3-storage/package.json
  plugins/google-cloud/package.json
  plugins/htpasswd/package.json
  plugins/local-storage/package.json
  plugins/memory/package.json
  tools/babel-preset/package.json
  tools/eslint-config/package.json
  tools/eslint-plugin-verdaccio/package.json
Due: core, plugins

chore: set registry for dependabot
  .yarnrc
Due: none

chore: update lockfile
  yarn.lock
Due: none

feat(verdaccio-aws-s3-storage): update @verdaccio/types and add new required methods
  plugins/aws-s3-storage/package.json
  plugins/aws-s3-storage/src/index.ts
Due: plugins

feat(verdaccio-memory): update @verdaccio/types and add new required methods
  plugins/memory/package.json
  plugins/memory/src/local-memory.ts
  yarn.lock
Due: plugins

chore(verdaccio-aws-s3-storage): remove stub types that are provided by aws-sdk package
  plugins/aws-s3-storage/package.json
  yarn.lock
Due: plugins

chore: remove Greenkeeper in favor of Dependabot
  README.md
Due: none

chore: add david-dm status badge for devDependencies
  README.md
Due: none

chore: add helper information
  core/commons-api/package.json
  core/file-locking/package.json
  core/readme/package.json
  core/streams/package.json
  core/types/package.json
  plugins/active-directory/package.json
  plugins/audit/package.json
  plugins/auth-memory/package.json
  plugins/aws-s3-storage/package.json
  plugins/google-cloud/package.json
  plugins/htpasswd/package.json
  plugins/local-storage/package.json
  plugins/memory/package.json
  tools/babel-preset/package.json
  tools/eslint-config/package.json
  tools/eslint-plugin-verdaccio/package.json
Due: core, plugins

chore: align projects structure
  core/commons-api/jest.config.js
  core/streams/jest.config.js
  plugins/audit/.npmignore
  plugins/audit/jest.config.js
  plugins/audit/package.json
  plugins/auth-memory/.npmignore
  plugins/auth-memory/jest.config.js
  plugins/aws-s3-storage/.npmignore
  plugins/aws-s3-storage/jest.config.js
  plugins/aws-s3-storage/package.json
  plugins/google-cloud/.npmignore
  plugins/google-cloud/jest.config.js
  plugins/google-cloud/package.json
  plugins/google-cloud/src/storage.ts
  plugins/htpasswd/.gitignore
  plugins/htpasswd/CONTRIBUTING.md
  plugins/htpasswd/jest.config.js
  plugins/htpasswd/package.json
  plugins/local-storage/jest.config.js
  plugins/memory/jest.config.js
  plugins/memory/package.json
  tools/eslint-plugin-verdaccio/package.json
  yarn.lock
Due: core, plugins

chore: publish release v8.0.1-next.0
  CHANGELOG.md
  core/commons-api/CHANGELOG.md
  core/commons-api/package.json
  core/file-locking/CHANGELOG.md
  core/file-locking/package.json
  core/readme/CHANGELOG.md
  core/readme/package.json
  core/streams/CHANGELOG.md
  core/streams/package.json
  core/types/CHANGELOG.md
  core/types/package.json
  lerna.json
  plugins/active-directory/CHANGELOG.md
  plugins/active-directory/package.json
  plugins/audit/CHANGELOG.md
  plugins/audit/package.json
  plugins/auth-memory/CHANGELOG.md
  plugins/auth-memory/package.json
  plugins/aws-s3-storage/CHANGELOG.md
  plugins/aws-s3-storage/package.json
  plugins/google-cloud/CHANGELOG.md
  plugins/google-cloud/package.json
  plugins/htpasswd/CHANGELOG.md
  plugins/htpasswd/package.json
  plugins/local-storage/CHANGELOG.md
  plugins/local-storage/package.json
  plugins/memory/CHANGELOG.md
  plugins/memory/package.json
  tools/babel-preset/CHANGELOG.md
  tools/babel-preset/package.json
  tools/eslint-config/CHANGELOG.md
  tools/eslint-config/package.json
  tools/eslint-plugin-verdaccio/CHANGELOG.md
  tools/eslint-plugin-verdaccio/package.json
Due: core, plugins

ci: specify registry in publish steps to override yarnrc setting
  .circleci/config.yml
Due: none

chore: publish release v8.0.1-next.1
  CHANGELOG.md
  core/commons-api/CHANGELOG.md
  core/commons-api/package.json
  core/file-locking/CHANGELOG.md
  core/file-locking/package.json
  core/readme/CHANGELOG.md
  core/readme/package.json
  core/streams/CHANGELOG.md
  core/streams/package.json
  core/types/CHANGELOG.md
  core/types/package.json
  lerna.json
  plugins/active-directory/CHANGELOG.md
  plugins/active-directory/package.json
  plugins/audit/CHANGELOG.md
  plugins/audit/package.json
  plugins/auth-memory/CHANGELOG.md
  plugins/auth-memory/package.json
  plugins/aws-s3-storage/CHANGELOG.md
  plugins/aws-s3-storage/package.json
  plugins/google-cloud/CHANGELOG.md
  plugins/google-cloud/package.json
  plugins/htpasswd/CHANGELOG.md
  plugins/htpasswd/package.json
  plugins/local-storage/CHANGELOG.md
  plugins/local-storage/package.json
  plugins/memory/CHANGELOG.md
  plugins/memory/package.json
  tools/babel-preset/CHANGELOG.md
  tools/babel-preset/package.json
  tools/eslint-config/CHANGELOG.md
  tools/eslint-config/package.json
  tools/eslint-plugin-verdaccio/CHANGELOG.md
  tools/eslint-plugin-verdaccio/package.json
Due: core, plugins

chore: disable patch review on codecov
  codecov.yml
Due: none
