Repository verdaccio/monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: core, plugins

chore: remove greenkeeper definition file
  greenkeeper.json
Due: none

chore: remove deprecated Prettier setting from devContainer
  .devcontainer/devcontainer.json
Due: none

chore(verdaccio-google-cloud): align dependencies and devDependencies
  plugins/google-cloud/package.json
  yarn.lock
Due: plugins

chore: disable no-async-promise-executor in code fragments
  plugins/google-cloud/src/storage.ts
  plugins/local-storage/src/utils.ts
Due: plugins

test(eslint-plugin-verdaccio): fix jsx-spread test
  tools/eslint-plugin-verdaccio/tests/lib/rules/jsx-spread.js
Due: none

chore: update name for devcontainer
  .devcontainer/devcontainer.json
Due: none

chore: use Alpine image in DevContainers
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
Due: none

chore: disable patch coverage correctly
  codecov.yml
Due: none

refactor(eslint-config): improve typescript rules
  tools/eslint-config/rules/typescript.js
Due: none

refactor(file-locking): clean ESLint warnings and remove adhoc rules
  core/file-locking/.eslintrc.json
  core/file-locking/src/__tests__/lock.spec.ts
  core/file-locking/src/index.ts
Due: core

refactor(commons-api): clean ESLint warnings and remove adhoc rules
  core/commons-api/.eslintrc.json
  core/commons-api/src/index.ts
  core/commons-api/test/.eslintrc
Due: core

refactor(readme): clean ESLint warnings and remove adhoc rules
  core/readme/.eslintrc.json
  core/readme/tests/readme.spec.ts
Due: core

refactor(streams): clean ESLint warnings and remove adhoc rules
  core/streams/.eslintrc.json
  core/streams/src/index.ts
  core/streams/test/mystreams.spec.ts
Due: core

refactor(active-directory): clean ESLint warnings and remove adhoc rules
  plugins/active-directory/src/active-directory.ts
Due: plugins

refactor(verdaccio-audit): clean ESLint warnings and remove adhoc rules
  plugins/audit/src/audit.ts
  plugins/audit/tests/audit.spec.ts
Due: plugins

refactor(verdaccio-auth-memory): clean ESLint warnings and remove adhoc rules
  plugins/auth-memory/.eslintrc.json
  plugins/auth-memory/src/Memory.ts
  plugins/auth-memory/test/index.spec.ts
Due: plugins

refactor(verdaccio-aws-s3-storage): clean ESLint warnings and remove adhoc rules
  plugins/aws-s3-storage/.eslintrc.json
  plugins/aws-s3-storage/src/deleteKeyPrefix.ts
  plugins/aws-s3-storage/src/index.ts
  plugins/aws-s3-storage/src/s3PackageManager.ts
  plugins/aws-s3-storage/tests/.eslintrc
  plugins/aws-s3-storage/tests/__mocks__/Config.ts
  plugins/aws-s3-storage/tests/index.test.ts
  plugins/aws-s3-storage/tests/s3PackageManager.test.ts
Due: plugins

refactor(verdaccio-google-cloud): clean ESLint warnings and remove adhoc rules
  plugins/google-cloud/.eslintrc.json
  plugins/google-cloud/src/data-storage.ts
  plugins/google-cloud/tests/.eslintrc
  plugins/google-cloud/tests/datastore.spec.ts
  plugins/google-cloud/tests/storage.spec.ts
Due: plugins

refactor(verdaccio-htpasswd): clean ESLint warnings
  plugins/htpasswd/src/crypt3.ts
  plugins/htpasswd/src/htpasswd.ts
  plugins/htpasswd/src/index.ts
  plugins/htpasswd/src/utils.ts
  plugins/htpasswd/tests/crypt3.test.ts
  plugins/htpasswd/tests/htpasswd.test.ts
  plugins/htpasswd/tests/utils.test.ts
Due: plugins

refactor(local-storage): clean ESLint warnings and remove adhoc rules
  plugins/local-storage/.eslintrc.json
  plugins/local-storage/src/local-database.ts
  plugins/local-storage/src/local-fs.ts
  plugins/local-storage/src/utils.ts
  plugins/local-storage/tests/local-database.test.ts
  plugins/local-storage/tests/local-fs.test.ts
Due: plugins

refactor(verdaccio-memory): clean ESLint warnings
  plugins/memory/src/local-memory.ts
  plugins/memory/src/memory-handler.ts
  plugins/memory/test/memory.spec.ts
  plugins/memory/test/partials/config.ts
Due: plugins

chore: revert some arguments names where they matters
  plugins/google-cloud/tests/storage.spec.ts
  plugins/htpasswd/tests/htpasswd.test.ts
  plugins/local-storage/tests/local-fs.test.ts
Due: plugins

chore: publish release v8.1.0
  CHANGELOG.md
  core/commons-api/CHANGELOG.md
  core/commons-api/package.json
  core/file-locking/CHANGELOG.md
  core/file-locking/package.json
  core/readme/CHANGELOG.md
  core/readme/package.json
  core/streams/CHANGELOG.md
  core/streams/package.json
  core/types/CHANGELOG.md
  core/types/package.json
  lerna.json
  plugins/active-directory/CHANGELOG.md
  plugins/active-directory/package.json
  plugins/audit/CHANGELOG.md
  plugins/audit/package.json
  plugins/auth-memory/CHANGELOG.md
  plugins/auth-memory/package.json
  plugins/aws-s3-storage/CHANGELOG.md
  plugins/aws-s3-storage/package.json
  plugins/google-cloud/CHANGELOG.md
  plugins/google-cloud/package.json
  plugins/htpasswd/CHANGELOG.md
  plugins/htpasswd/package.json
  plugins/local-storage/CHANGELOG.md
  plugins/local-storage/package.json
  plugins/memory/CHANGELOG.md
  plugins/memory/package.json
  tools/babel-preset/CHANGELOG.md
  tools/babel-preset/package.json
  tools/eslint-config/CHANGELOG.md
  tools/eslint-config/package.json
  tools/eslint-plugin-verdaccio/CHANGELOG.md
  tools/eslint-plugin-verdaccio/package.json
Due: core, plugins

chore: add Github CI status badge
  README.md
Due: none

ci: drop Node 8 support
  .circleci/config.yml
  .github/workflows/main.yml
  azure-pipelines.yml
Due: none

refactor(eslint-config): use TS rules only in TS files
  tools/eslint-config/index.js
Due: none

chore(active-directory): add inspiration and improve readme
  plugins/active-directory/README.md
Due: plugins

fix(security): Cross-site Scripting (XSS) for readme
  core/readme/package.json
  yarn.lock
Due: core

chore: publish release v8.1.1
  CHANGELOG.md
  core/commons-api/CHANGELOG.md
  core/commons-api/package.json
  core/file-locking/CHANGELOG.md
  core/file-locking/package.json
  core/readme/CHANGELOG.md
  core/readme/package.json
  core/streams/CHANGELOG.md
  core/streams/package.json
  lerna.json
  plugins/active-directory/CHANGELOG.md
  plugins/active-directory/package.json
  plugins/audit/CHANGELOG.md
  plugins/audit/package.json
  plugins/auth-memory/CHANGELOG.md
  plugins/auth-memory/package.json
  plugins/aws-s3-storage/CHANGELOG.md
  plugins/aws-s3-storage/package.json
  plugins/google-cloud/CHANGELOG.md
  plugins/google-cloud/package.json
  plugins/htpasswd/CHANGELOG.md
  plugins/htpasswd/package.json
  plugins/local-storage/CHANGELOG.md
  plugins/local-storage/package.json
  plugins/memory/CHANGELOG.md
  plugins/memory/package.json
  tools/babel-preset/CHANGELOG.md
  tools/babel-preset/package.json
  tools/eslint-config/CHANGELOG.md
  tools/eslint-config/package.json
  tools/eslint-plugin-verdaccio/CHANGELOG.md
  tools/eslint-plugin-verdaccio/package.json
Due: core, plugins

chore: ignore case 7
  core/readme/tests/readme.spec.ts
Due: core

chore: publish release v8.1.2
  CHANGELOG.md
  core/commons-api/CHANGELOG.md
  core/commons-api/package.json
  core/file-locking/CHANGELOG.md
  core/file-locking/package.json
  core/readme/CHANGELOG.md
  core/readme/package.json
  core/streams/CHANGELOG.md
  core/streams/package.json
  lerna.json
  plugins/active-directory/CHANGELOG.md
  plugins/active-directory/package.json
  plugins/audit/CHANGELOG.md
  plugins/audit/package.json
  plugins/auth-memory/CHANGELOG.md
  plugins/auth-memory/package.json
  plugins/aws-s3-storage/CHANGELOG.md
  plugins/aws-s3-storage/package.json
  plugins/google-cloud/CHANGELOG.md
  plugins/google-cloud/package.json
  plugins/htpasswd/CHANGELOG.md
  plugins/htpasswd/package.json
  plugins/local-storage/CHANGELOG.md
  plugins/local-storage/package.json
  plugins/memory/CHANGELOG.md
  plugins/memory/package.json
  tools/babel-preset/CHANGELOG.md
  tools/babel-preset/package.json
  tools/eslint-config/CHANGELOG.md
  tools/eslint-config/package.json
  tools/eslint-plugin-verdaccio/CHANGELOG.md
  tools/eslint-plugin-verdaccio/package.json
Due: core, plugins

chore(verdaccio-audit): revert express to 4.17.1
  plugins/audit/package.json
  yarn.lock
Due: plugins

chore: publish release v8.1.3
  CHANGELOG.md
  lerna.json
  plugins/audit/CHANGELOG.md
  plugins/audit/package.json
Due: plugins

chore(verdaccio-audit): fix install express from public registries instead of local
  yarn.lock
Due: none

chore: publish release v8.1.4
  CHANGELOG.md
  lerna.json
  plugins/audit/CHANGELOG.md
  plugins/audit/package.json
Due: plugins

ci(circleci): migrate to CircleCI 2.1 syntax
  .circleci/config.yml
Due: none

ci(github): improve naming and fix setup-node action
  .github/workflows/ci.yml
Due: none

chore: replace fs.existsSync with fs.accessSync
  plugins/local-storage/tests/local-fs.test.ts
Due: plugins

chore: replace fs.exists with fs.stat in memory-handler
  plugins/memory/src/memory-handler.ts
Due: plugins

ci(circleci): move default_executor from aliases to executors
  .circleci/config.yml
Due: none

Path conditions:
  core: any of: core/commons-api, core/file-locking, core/readme, core/streams
  plugins: any of: plugins/active-directory, plugins/audit, plugins/auth-memory, plugins/aws-s3-storage, plugins/google-cloud, plugins/htpasswd, plugins/local-storage, plugins/memory
