Repository verdaccio/monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: core, plugins

chore: publish release v8.5.1
  CHANGELOG.md
  core/file-locking/CHANGELOG.md
  core/file-locking/package.json
  core/readme/CHANGELOG.md
  core/readme/package.json
  core/streams/CHANGELOG.md
  core/streams/package.json
  core/types/CHANGELOG.md
  core/types/package.json
  lerna.json
  plugins/active-directory/CHANGELOG.md
  plugins/active-directory/package.json
  plugins/audit/CHANGELOG.md
  plugins/audit/package.json
  plugins/auth-memory/CHANGELOG.md
  plugins/auth-memory/package.json
  plugins/aws-s3-storage/CHANGELOG.md
  plugins/aws-s3-storage/package.json
  plugins/google-cloud/CHANGELOG.md
  plugins/google-cloud/package.json
  plugins/htpasswd/CHANGELOG.md
  plugins/htpasswd/package.json
  plugins/local-storage/CHANGELOG.md
  plugins/local-storage/package.json
  plugins/memory/CHANGELOG.md
  plugins/memory/package.json
  tools/testing-utilities/CHANGELOG.md
  tools/testing-utilities/package.json
Due: core, plugins

fix: add types for storage handler
  core/types/index.d.ts
Due: none

fix: implement some examples
  core/types/index.d.ts
  plugins/aws-s3-storage/src/s3PackageManager.ts
  plugins/memory/src/memory-handler.ts
Due: plugins

fix: fix type for google cloud storage
  core/types/index.d.ts
  plugins/google-cloud/src/storage.ts
Due: plugins

fix: add types for storage handler (#307)
  core/types/index.d.ts
  plugins/aws-s3-storage/src/s3PackageManager.ts
  plugins/google-cloud/src/storage.ts
  plugins/memory/src/memory-handler.ts
Due: plugins

chore: publish release v8.5.2
  CHANGELOG.md
  core/file-locking/CHANGELOG.md
  core/file-locking/package.json
  core/readme/CHANGELOG.md
  core/readme/package.json
  core/streams/CHANGELOG.md
  core/streams/package.json
  core/types/CHANGELOG.md
  core/types/package.json
  lerna.json
  plugins/active-directory/CHANGELOG.md
  plugins/active-directory/package.json
  plugins/audit/CHANGELOG.md
  plugins/audit/package.json
  plugins/auth-memory/CHANGELOG.md
  plugins/auth-memory/package.json
  plugins/aws-s3-storage/CHANGELOG.md
  plugins/aws-s3-storage/package.json
  plugins/google-cloud/CHANGELOG.md
  plugins/google-cloud/package.json
  plugins/htpasswd/CHANGELOG.md
  plugins/htpasswd/package.json
  plugins/local-storage/CHANGELOG.md
  plugins/local-storage/package.json
  plugins/memory/CHANGELOG.md
  plugins/memory/package.json
  tools/testing-utilities/CHANGELOG.md
  tools/testing-utilities/package.json
Due: core, plugins

fix: verdaccio/verdaccio/issues/1435 (#289)
  plugins/aws-s3-storage/src/s3PackageManager.ts
Due: plugins

chore: publish release v8.5.3
  CHANGELOG.md
  lerna.json
  plugins/aws-s3-storage/CHANGELOG.md
  plugins/aws-s3-storage/package.json
Due: plugins

feat(eslint-config): enable eslint curly
  core/file-locking/src/__tests__/lock.spec.ts
  plugins/aws-s3-storage/src/s3PackageManager.ts
  plugins/htpasswd/src/utils.ts
  tools/eslint-config/rules/prettier.js
Due: core, plugins

feat(eslint-config): enable eslint curly (#308)
  core/file-locking/src/__tests__/lock.spec.ts
  plugins/aws-s3-storage/src/s3PackageManager.ts
  plugins/htpasswd/src/utils.ts
  tools/eslint-config/rules/prettier.js
Due: core, plugins

fix(verdaccio-google-cloud): catch missing Secret on first run (#247)
  plugins/google-cloud/src/data-storage.ts
Due: plugins

chore: update dependencies
  package.json
  plugins/aws-s3-storage/package.json
  plugins/google-cloud/package.json
  plugins/htpasswd/package.json
  tools/babel-preset/package.json
  tools/eslint-config/package.json
  yarn.lock
Due: plugins

ci(circleci): remove canary release from CircleCI
  .circleci/config.yml
Due: none

refactor: extract Snyk from google-cloud package to root
  .snyk
  package.json
  plugins/google-cloud/.snyk
  plugins/google-cloud/package.json
Due: plugins

build: add funding links to all packages
  core/commons-api/package.json
  core/file-locking/package.json
  core/readme/package.json
  core/streams/package.json
  core/types/package.json
  plugins/active-directory/package.json
  plugins/audit/package.json
  plugins/auth-memory/package.json
  plugins/aws-s3-storage/package.json
  plugins/google-cloud/package.json
  plugins/htpasswd/package.json
  plugins/local-storage/package.json
  plugins/memory/package.json
  tools/babel-preset/package.json
  tools/eslint-config/package.json
  tools/eslint-plugin-verdaccio/package.json
  tools/testing-utilities/package.json
Due: core, plugins

build: add funding links to all packages (#311)
  core/commons-api/package.json
  core/file-locking/package.json
  core/readme/package.json
  core/streams/package.json
  core/types/package.json
  plugins/active-directory/package.json
  plugins/audit/package.json
  plugins/auth-memory/package.json
  plugins/aws-s3-storage/package.json
  plugins/google-cloud/package.json
  plugins/htpasswd/package.json
  plugins/local-storage/package.json
  plugins/memory/package.json
  tools/babel-preset/package.json
  tools/eslint-config/package.json
  tools/eslint-plugin-verdaccio/package.json
  tools/testing-utilities/package.json
Due: core, plugins

fix: prevent circular structure exception
  plugins/local-storage/src/local-database.ts
Due: plugins

fix: prevent circular structure exception (#312)
  plugins/local-storage/src/local-database.ts
Due: plugins

chore: publish release v9.0.0
  CHANGELOG.md
  core/commons-api/CHANGELOG.md
  core/commons-api/package.json
  core/file-locking/CHANGELOG.md
  core/file-locking/package.json
  core/readme/CHANGELOG.md
  core/readme/package.json
  core/streams/CHANGELOG.md
  core/streams/package.json
  core/types/CHANGELOG.md
  core/types/package.json
  lerna.json
  plugins/active-directory/CHANGELOG.md
  plugins/active-directory/package.json
  plugins/audit/CHANGELOG.md
  plugins/audit/package.json
  plugins/auth-memory/CHANGELOG.md
  plugins/auth-memory/package.json
  plugins/aws-s3-storage/CHANGELOG.md
  plugins/aws-s3-storage/package.json
  plugins/google-cloud/CHANGELOG.md
  plugins/google-cloud/package.json
  plugins/htpasswd/CHANGELOG.md
  plugins/htpasswd/package.json
  plugins/local-storage/CHANGELOG.md
  plugins/local-storage/package.json
  plugins/memory/CHANGELOG.md
  plugins/memory/package.json
  tools/babel-preset/CHANGELOG.md
  tools/babel-preset/package.json
  tools/eslint-config/CHANGELOG.md
  tools/eslint-config/package.json
  tools/eslint-plugin-verdaccio/CHANGELOG.md
  tools/eslint-plugin-verdaccio/package.json
  tools/testing-utilities/CHANGELOG.md
  tools/testing-utilities/package.json
Due: core, plugins

test: createPackage with s3 mock
  plugins/aws-s3-storage/tests/__mocks__/Config.ts
  plugins/aws-s3-storage/tests/s3PackageManagerMockedS3.test.ts
Due: plugins

feat: Add Custom Storage
  plugins/aws-s3-storage/package.json
  plugins/aws-s3-storage/src/s3PackageManager.ts
  plugins/aws-s3-storage/tests/__mocks__/Config.ts
  plugins/aws-s3-storage/tests/s3PackageManagerMockedS3.test.ts
  yarn.lock
Due: plugins

test: Add number of assertions to tests
  plugins/aws-s3-storage/tests/s3PackageManagerMockedS3.test.ts
Due: plugins

refactor: trailing slash function
  plugins/aws-s3-storage/src/addTrailingSlash.ts
  plugins/aws-s3-storage/src/index.ts
  plugins/aws-s3-storage/src/s3PackageManager.ts
Due: plugins

chore: add data to gitignore
  plugins/aws-s3-storage/.gitignore
Due: plugins

fix: replace s3config with whole config
  plugins/aws-s3-storage/src/index.ts
Due: plugins

Add readme section
  plugins/aws-s3-storage/Dockerfile
  plugins/aws-s3-storage/README.md
  plugins/aws-s3-storage/conf/config.yaml
  plugins/aws-s3-storage/docker-compose.yaml
  plugins/aws-s3-storage/registry.env
Due: plugins

fix: jest registry in yarn.lock
  yarn.lock
Due: none

Upgrade: aws-sdk
  plugins/aws-s3-storage/package.json
  yarn.lock
Due: plugins

fix: set minio endpoint in config.yaml
  plugins/aws-s3-storage/README.md
  plugins/aws-s3-storage/conf/config.yaml
Due: plugins

fix: Remove registry.env file from repo
  plugins/aws-s3-storage/README.md
  plugins/aws-s3-storage/registry.env
Due: plugins

Fix: aws secret access key example in README
  plugins/aws-s3-storage/README.md
Due: plugins

Add npmignore
  plugins/aws-s3-storage/.npmignore
Due: plugins

feat(verdaccio-aws-s3-storage): separate s3 subfolders (key prefix for different packages) (#313)
  plugins/aws-s3-storage/.gitignore
  plugins/aws-s3-storage/.npmignore
  plugins/aws-s3-storage/Dockerfile
  plugins/aws-s3-storage/README.md
  plugins/aws-s3-storage/conf/config.yaml
  plugins/aws-s3-storage/docker-compose.yaml
  plugins/aws-s3-storage/package.json
  plugins/aws-s3-storage/src/addTrailingSlash.ts
  plugins/aws-s3-storage/src/index.ts
  plugins/aws-s3-storage/src/s3PackageManager.ts
  plugins/aws-s3-storage/tests/s3PackageManagerMockedS3.test.ts
  yarn.lock
Due: plugins

feat(verdaccio-aws-s3-storage): supporting environment variables
  plugins/aws-s3-storage/src/index.ts
Due: plugins

docs(verdaccio-aws-s3-storage): update readme with example
  plugins/aws-s3-storage/README.md
Due: plugins

refactor(verdaccio-aws-s3-storage): extracting config value setter into a separate function
  plugins/aws-s3-storage/src/index.ts
  plugins/aws-s3-storage/src/setConfigValue.ts
Due: plugins

test(verdaccio-aws-s3-storage): adding tests for setConfigValue
  plugins/aws-s3-storage/tests/setConfigValue.test.ts
Due: plugins

feat(verdaccio-aws-s3-storage): supporting environment variables (#315)
  plugins/aws-s3-storage/README.md
  plugins/aws-s3-storage/src/index.ts
  plugins/aws-s3-storage/src/setConfigValue.ts
  plugins/aws-s3-storage/tests/setConfigValue.test.ts
Due: plugins

chore: publish release v9.1.0
  CHANGELOG.md
  lerna.json
  plugins/aws-s3-storage/CHANGELOG.md
  plugins/aws-s3-storage/package.json
Due: plugins

refactor(verdaccio-aws-s3-storage): improve docker testing
  plugins/aws-s3-storage/.gitignore
  plugins/aws-s3-storage/Dockerfile
  plugins/aws-s3-storage/README.md
  plugins/aws-s3-storage/conf/config.yaml
  plugins/aws-s3-storage/src/s3PackageManager.ts
Due: plugins

Path conditions:
  core: any of: core/commons-api, core/file-locking, core/readme, core/streams
  plugins: any of: plugins/active-directory, plugins/audit, plugins/auth-memory, plugins/aws-s3-storage, plugins/google-cloud, plugins/htpasswd, plugins/local-storage, plugins/memory
