Repository verdaccio/monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: core, plugins

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 50%
      core:
        flags: core
        target: 50%
      plugins:
        flags: plugins
        target: 50%

flags:
  core:
    paths:
      - core/commons-api
      - core/file-locking
      - core/readme
      - core/streams
  plugins:
    paths:
      - plugins/active-directory
      - plugins/audit
      - plugins/auth-memory
      - plugins/aws-s3-storage
      - plugins/google-cloud
      - plugins/htpasswd
      - plugins/local-storage
      - plugins/memory

Update local-database.ts
  plugins/local-storage/src/local-database.ts
Due: plugins

fix: add warning database name (#402)
  plugins/local-storage/package.json
  plugins/local-storage/src/local-database.ts
  yarn.lock
Due: plugins

chore: publish release v10.0.2
  CHANGELOG.md
  lerna.json
  plugins/local-storage/CHANGELOG.md
  plugins/local-storage/package.json
Due: plugins

Update README.md
  README.md
Due: none

fix: scoped_tarball_url_redirect is no longer needed
  core/types/index.d.ts
Due: none

fix: remove code format
  core/file-locking/src/__tests__/lock.spec.ts
  core/file-locking/src/lockfile.ts
  core/file-locking/src/readFile.ts
  core/file-locking/src/unclock.ts
  core/file-locking/src/utils.ts
  core/streams/src/index.ts
  plugins/aws-s3-storage/src/index.ts
  plugins/htpasswd/src/htpasswd.ts
  plugins/htpasswd/src/utils.ts
  plugins/htpasswd/tests/crypt3.test.ts
  plugins/htpasswd/tests/htpasswd.test.ts
  plugins/local-storage/src/local-database.ts
  plugins/local-storage/src/local-fs.ts
  plugins/local-storage/tests/local-database.test.ts
  plugins/memory/src/memory-handler.ts
  plugins/memory/test/local-memory.spec.ts
  plugins/memory/test/memory.spec.ts
  tools/babel-preset/lib/builder.js
Due: core, plugins

fix: remove code format
  plugins/aws-s3-storage/src/s3PackageManager.ts
Due: plugins

chore: update release script
  .circleci/config.yml
  .github/workflows/release.yml
Due: none

fix: force update package
  plugins/local-storage/src/local-database.ts
Due: plugins

chore: update script
  .github/workflows/ci.yml
Due: none

chore: publish release v10.0.3
  CHANGELOG.md
  lerna.json
  plugins/local-storage/CHANGELOG.md
  plugins/local-storage/package.json
Due: plugins

chore: update release script
  .github/workflows/release.yml
Due: none

chore: update ci script
  .github/workflows/ci.yml
  plugins/local-storage/src/local-database.ts
Due: plugins

chore: publish release v10.0.4
  CHANGELOG.md
  lerna.json
  plugins/local-storage/CHANGELOG.md
  plugins/local-storage/package.json
Due: plugins

chore: update ci script
  .github/workflows/release.yml
Due: none

chore: publish release v10.0.5
  CHANGELOG.md
  lerna.json
  plugins/local-storage/CHANGELOG.md
  plugins/local-storage/package.json
Due: plugins

chore: publish release v10.0.6
  CHANGELOG.md
  lerna.json
  plugins/local-storage/CHANGELOG.md
  plugins/local-storage/package.json
Due: plugins

chore: disable format
  .github/workflows/ci.yml
  .prettierignore
  .prettierrc.json
  core/commons-api/package.json
  core/commons-api/tsconfig.build.json
  core/file-locking/package.json
  core/file-locking/src/__tests__/__snapshots__/lock.spec.ts.snap
  core/file-locking/src/__tests__/lock.spec.ts
  core/file-locking/tsconfig.build.json
  core/readme/package.json
  core/readme/tsconfig.build.json
  core/streams/package.json
  core/streams/tsconfig.build.json
  core/types/package.json
  package.json
  plugins/active-directory/package.json
  plugins/active-directory/tsconfig.build.json
  plugins/audit/package.json
  plugins/audit/tsconfig.build.json
  plugins/auth-memory/package.json
  plugins/auth-memory/tsconfig.build.json
  plugins/aws-s3-storage/package.json
  plugins/aws-s3-storage/tsconfig.build.json
  plugins/google-cloud/package.json
  plugins/google-cloud/tsconfig.build.json
  plugins/htpasswd/package.json
  plugins/htpasswd/tsconfig.build.json
  plugins/local-storage/package.json
  plugins/local-storage/tsconfig.build.json
  plugins/memory/package.json
  plugins/memory/tsconfig.build.json
  pnpm-lock.yaml
  tsconfig.json
Due: core, plugins

Update changesets.yml
  .github/workflows/changesets.yml
Due: none

chore: update release scripts
  .github/workflows/changesets.yml
Due: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

feat(aws-s3-storage): set ACL of tarball files (#249)
  plugins/aws-s3-storage/README.md
  plugins/aws-s3-storage/src/config.ts
  plugins/aws-s3-storage/src/s3PackageManager.ts
Due: plugins

chore: add changeset for aws plugin set acl
  .changeset/hip-geckos-turn.md
Due: none

chore: add missing script
  package.json
Due: none

chore: add missing script
  package.json
  pnpm-lock.yaml
Due: none
