Repository verdaccio/monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: core, plugins

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 50%
      core:
        flags: core
        target: 50%
      plugins:
        flags: plugins
        target: 50%

flags:
  core:
    paths:
      - core/commons-api
      - core/file-locking
      - core/readme
      - core/streams
  plugins:
    paths:
      - plugins/active-directory
      - plugins/audit
      - plugins/auth-memory
      - plugins/aws-s3-storage
      - plugins/google-cloud
      - plugins/htpasswd
      - plugins/local-storage
      - plugins/memory

feat: parseReadme pathname option (#513)
  .changeset/config.json
  .changeset/happy-lies-pretend.md
  core/readme/src/index.ts
  core/readme/tests/readme.spec.ts
Due: core

chore(deps): update dependency @types/node to v14.18.0
  core/types/package.json
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency prettier to v2.5.1
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency @types/lodash to v4.14.178
  package.json
  pnpm-lock.yaml
Due: none

feat: remove core-js from bundle
  .babelrc
  .changeset/happy-knives-train.md
Due: none

fix(deps): update dependency express to v4.17.2
  plugins/audit/package.json
  pnpm-lock.yaml
Due: plugins

chore(deps): update dependency eslint-plugin-react to v7.28.0
  package.json
  pnpm-lock.yaml
Due: none

feat: add rate limit and convert user agent type to boolean
  .changeset/witty-plants-teach.md
  core/types/index.d.ts
Due: none

feat: add rate limit and convert user agent type to boolean (#524)
  .changeset/witty-plants-teach.md
  core/types/index.d.ts
Due: none

fix(deps): update dependency body-parser to v1.19.1
  plugins/audit/package.json
  pnpm-lock.yaml
Due: plugins

fix: user_agent as string
  .changeset/hungry-bees-smell.md
  core/types/index.d.ts
Due: none

fix: move userRateLimit to config body
  .changeset/silent-birds-destroy.md
  core/types/index.d.ts
Due: none

chore(deps): update babel monorepo to v7.16.7
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency @types/request to v2.48.8
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency @types/node to v14.18.5
  core/types/package.json
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency eslint-plugin-import to v2.25.4
  package.json
  pnpm-lock.yaml
Due: none

fix(deps): update dependency async to v3.2.3
  plugins/local-storage/package.json
  pnpm-lock.yaml
Due: plugins

chore(deps): update babel monorepo
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency snyk to v1.826.0
  package.json
  pnpm-lock.yaml
Due: none

chore: update renovate
  renovate.json
Due: none

chore: fix renovate config
  renovate.json
Due: none

chore: fix renovate config (#534)
  renovate.json
Due: none

fix(deps): update all non-major core dependencies
  core/types/package.json
  package.json
  plugins/audit/package.json
  plugins/local-storage/package.json
  pnpm-lock.yaml
Due: plugins

fix(deps): update all core dependencies
  package.json
  plugins/audit/package.json
  plugins/local-storage/package.json
  pnpm-lock.yaml
Due: plugins

chore: update renovate, one more try
  renovate.json
Due: none

fix(deps): pin dependency marked to v2.1.3 [security]
  core/readme/package.json
  pnpm-lock.yaml
Due: core

chore(deps): pin dependencies
  core/commons-api/package.json
  core/file-locking/package.json
  core/readme/package.json
  core/streams/package.json
  package.json
  plugins/active-directory/package.json
  plugins/audit/package.json
  plugins/auth-memory/package.json
  plugins/aws-s3-storage/package.json
  plugins/google-cloud/package.json
  plugins/htpasswd/package.json
  plugins/local-storage/package.json
  plugins/memory/package.json
  pnpm-lock.yaml
Due: core, plugins

fix(deps): update dependency marked to v4 [security]
  core/readme/package.json
  pnpm-lock.yaml
Due: core

fix build
  core/readme/src/index.ts
  package.json
  pnpm-lock.yaml
Due: core

chore: add changeset to release
  .changeset/poor-seals-deliver.md
Due: none

fix(deps): update all core dependencies to v7.16.10
  package.json
  pnpm-lock.yaml
Due: none

fix(deps): update all core dependencies
  package.json
  pnpm-lock.yaml
Due: none

fix(deps): update dependency node-fetch to v3 [security]
  plugins/audit/package.json
  pnpm-lock.yaml
Due: plugins

chore: fix lowdb, major areo only esm
  renovate.json
Due: none

chore: fix node-fetch, major needs esm
  renovate.json
Due: none

fix(deps): update all core dependencies
  .github/workflows/ci.yml
  core/commons-api/package.json
  core/readme/package.json
  package.json
  plugins/active-directory/package.json
  plugins/htpasswd/package.json
  pnpm-lock.yaml
Due: core, plugins

chore: fix test aws
  package.json
  plugins/aws-s3-storage/package.json
Due: plugins
