Repository verdaccio/monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: core, plugins

chore: reduce noise notice over testing
  plugins/aws-s3-storage/.gitignore
  plugins/aws-s3-storage/Dockerfile
  plugins/aws-s3-storage/src/index.ts
  plugins/aws-s3-storage/src/s3PackageManager.ts
Due: plugins

feat: adding tag type for auth plugins
  core/types/index.d.ts
Due: none

fix: allow endpoint to be configurable
  plugins/aws-s3-storage/src/index.ts
Due: plugins

refactor: cleanup
  plugins/aws-s3-storage/src/index.ts
Due: plugins

fix: remove feature to change tarball url
  core/types/index.d.ts
  plugins/aws-s3-storage/README.md
  plugins/aws-s3-storage/src/config.ts
  plugins/aws-s3-storage/src/s3PackageManager.ts
Due: plugins

docs: Updated README.md
  plugins/aws-s3-storage/README.md
Due: plugins

feat(verdaccio-aws-s3-storage): Allow endpoint to be configurable (#319)
  plugins/aws-s3-storage/README.md
  plugins/aws-s3-storage/src/index.ts
Due: plugins

chore: publish release v9.2.0
  CHANGELOG.md
  lerna.json
  plugins/aws-s3-storage/CHANGELOG.md
  plugins/aws-s3-storage/package.json
Due: plugins

feat(types): adding tag type for auth plugins (#318)
  core/types/index.d.ts
Due: none

chore: publish release v9.3.0
  CHANGELOG.md
  core/file-locking/CHANGELOG.md
  core/file-locking/package.json
  core/readme/CHANGELOG.md
  core/readme/package.json
  core/streams/CHANGELOG.md
  core/streams/package.json
  core/types/CHANGELOG.md
  core/types/package.json
  lerna.json
  plugins/active-directory/CHANGELOG.md
  plugins/active-directory/package.json
  plugins/audit/CHANGELOG.md
  plugins/audit/package.json
  plugins/auth-memory/CHANGELOG.md
  plugins/auth-memory/package.json
  plugins/aws-s3-storage/CHANGELOG.md
  plugins/aws-s3-storage/package.json
  plugins/google-cloud/CHANGELOG.md
  plugins/google-cloud/package.json
  plugins/htpasswd/CHANGELOG.md
  plugins/htpasswd/package.json
  plugins/local-storage/CHANGELOG.md
  plugins/local-storage/package.json
  plugins/memory/CHANGELOG.md
  plugins/memory/package.json
  tools/testing-utilities/CHANGELOG.md
  tools/testing-utilities/package.json
Due: core, plugins

feat(types): adding type for tarball url redirect (#250)
  core/types/index.d.ts
Due: none

chore: update yarn.lock
  yarn.lock
Due: none

fix: upgrade marked from 0.7.0 to 0.8.0
  core/readme/package.json
Due: core

fix: upgrade @babel/preset-env from 7.7.7 to 7.8.3
  tools/babel-preset/package.json
Due: none

fix: upgrade @babel/core from 7.7.7 to 7.8.3
  tools/babel-preset/package.json
Due: none

fix: upgrade @babel/cli from 7.7.7 to 7.8.3
  tools/babel-preset/package.json
Due: none

fix: upgrade @babel/plugin-proposal-decorators from 7.7.4 to 7.8.3
  tools/babel-preset/package.json
Due: none

fix: upgrade @babel/plugin-proposal-class-properties from 7.7.4 to 7.8.3
  tools/babel-preset/package.json
Due: none

refactor: resolve code review
  plugins/aws-s3-storage/src/index.ts
Due: plugins

feat(types): adding security type for user generated tokens
  core/types/index.d.ts
Due: none

refactor: resolve code review
  yarn.lock
Due: none

feat: update depedencies
  package.json
  plugins/aws-s3-storage/package.json
  plugins/htpasswd/package.json
  plugins/local-storage/package.json
  tools/babel-preset/package.json
  yarn.lock
Due: plugins

chore: fix ci errors
  package.json
  yarn.lock
Due: none

fix: resolve missing missing 'babel/proposal-optional-chaining' in test env
  tools/babel-preset/lib/builder.js
Due: none

fix: resolve missing missing 'babel/proposal-optional-chaining' in test env (#330)
  tools/babel-preset/lib/builder.js
Due: none

chore: disable preversion script
  package.json
Due: none

chore: publish release v9.3.1
  CHANGELOG.md
  core/commons-api/CHANGELOG.md
  core/commons-api/package.json
  core/file-locking/CHANGELOG.md
  core/file-locking/package.json
  core/readme/CHANGELOG.md
  core/readme/package.json
  core/streams/CHANGELOG.md
  core/streams/package.json
  lerna.json
  plugins/active-directory/CHANGELOG.md
  plugins/active-directory/package.json
  plugins/audit/CHANGELOG.md
  plugins/audit/package.json
  plugins/auth-memory/CHANGELOG.md
  plugins/auth-memory/package.json
  plugins/aws-s3-storage/CHANGELOG.md
  plugins/aws-s3-storage/package.json
  plugins/google-cloud/CHANGELOG.md
  plugins/google-cloud/package.json
  plugins/htpasswd/CHANGELOG.md
  plugins/htpasswd/package.json
  plugins/local-storage/CHANGELOG.md
  plugins/local-storage/package.json
  plugins/memory/CHANGELOG.md
  plugins/memory/package.json
  tools/babel-preset/CHANGELOG.md
  tools/babel-preset/package.json
  tools/testing-utilities/CHANGELOG.md
  tools/testing-utilities/package.json
Due: core, plugins

chore: update dependencies
  core/readme/package.json
  package.json
  plugins/aws-s3-storage/package.json
  plugins/htpasswd/package.json
  plugins/local-storage/package.json
  tools/babel-preset/package.json
  tools/eslint-plugin-verdaccio/package.json
  yarn.lock
Due: core, plugins

chore: remove jest from plugin
  plugins/aws-s3-storage/package.json
Due: plugins

fix: update dependencies (#332)
  core/readme/package.json
  package.json
  plugins/aws-s3-storage/package.json
  plugins/htpasswd/package.json
  plugins/local-storage/package.json
  tools/babel-preset/package.json
  tools/eslint-plugin-verdaccio/package.json
  yarn.lock
Due: core, plugins

fix: update typescript@3.8.2
  package.json
  tools/babel-preset/package.json
  tools/eslint-config/package.json
  yarn.lock
Due: none

chore: try to fix lint error on windows
  core/commons-api/test/errors.spec.ts
Due: core

chore: downgrade eslint import plugin
  core/commons-api/test/errors.spec.ts
  tools/eslint-config/package.json
  yarn.lock
Due: core

fix: update typescript@3.8.2 (#333)
  package.json
  tools/babel-preset/package.json
  tools/eslint-config/package.json
  yarn.lock
Due: none

fix: types for file-locking
  core/file-locking/src/__tests__/__snapshots__/lock.spec.ts.snap
  core/file-locking/src/__tests__/lock.spec.ts
  core/file-locking/src/index.ts
  core/file-locking/tsconfig.json
  core/streams/src/index.ts
  plugins/memory/src/local-memory.ts
Due: core, plugins

chore: refactor lock file
  core/file-locking/src/index.ts
  core/file-locking/src/lockfile.ts
  core/file-locking/src/readFile.ts
  core/file-locking/src/unlockFile.ts
  core/file-locking/src/utils.ts
Due: core

chore: update
  core/file-locking/src/index.ts
Due: core

chore: update
  core/file-locking/src/index.ts
  core/file-locking/src/unclock.ts
Due: core

chore: fix httpass test
  core/file-locking/src/unclock.ts
  plugins/htpasswd/.babelrc
  plugins/htpasswd/src/htpasswd.ts
  plugins/htpasswd/src/utils.ts
  plugins/htpasswd/tests/htpasswd.test.ts
  plugins/htpasswd/tests/utils.test.ts
Due: core, plugins

chore: remove import
  plugins/htpasswd/tests/utils.test.ts
Due: plugins

Path conditions:
  core: any of: core/commons-api, core/file-locking, core/readme, core/streams
  plugins: any of: plugins/active-directory, plugins/audit, plugins/auth-memory, plugins/aws-s3-storage, plugins/google-cloud, plugins/htpasswd, plugins/local-storage, plugins/memory
