Repository verdaccio/monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: core, plugins

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 50%
      core:
        flags: core
        target: 50%
      plugins:
        flags: plugins
        target: 50%

flags:
  core:
    paths:
      - core/commons-api
      - core/file-locking
      - core/readme
      - core/streams
  plugins:
    paths:
      - plugins/active-directory
      - plugins/audit
      - plugins/auth-memory
      - plugins/aws-s3-storage
      - plugins/google-cloud
      - plugins/htpasswd
      - plugins/local-storage
      - plugins/memory

Update .eslintrc
  .eslintrc
Due: none

migrate types
  .eslintrc
  plugins/local-storage/.verdaccio-db.json
  plugins/local-storage/package.json
  plugins/local-storage/src/local-database.ts
  plugins/local-storage/src/local-fs.ts
  plugins/local-storage/src/pkg-utils.ts
  plugins/local-storage/src/token.ts
  plugins/local-storage/src/utils.ts
  plugins/local-storage/tests/__fixtures__/test-storage/.verdaccio-db.json
  plugins/local-storage/tests/basic.test.ts
  plugins/local-storage/tests/local-database.test.ts
  plugins/local-storage/tests/utils.test.ts
  pnpm-lock.yaml
Due: plugins

add tests
  plugins/local-storage/tests/__mocks__/Config.ts
  plugins/local-storage/tests/__mocks__/utils.ts
  plugins/local-storage/tests/basic.test.ts
  plugins/local-storage/tests/local-database.test.ts
Due: plugins

clean up
  plugins/local-storage/src/dir-utils.ts
  plugins/local-storage/src/local-database.ts
Due: plugins

feat: search on cache packages and private packages (#685)
  .changeset/stupid-lobsters-guess.md
  .eslintrc
  plugins/local-storage/.verdaccio-db.json
  plugins/local-storage/package.json
  plugins/local-storage/src/dir-utils.ts
  plugins/local-storage/src/local-database.ts
  plugins/local-storage/src/local-fs.ts
  plugins/local-storage/src/pkg-utils.ts
  plugins/local-storage/src/token.ts
  plugins/local-storage/src/utils.ts
  plugins/local-storage/tests/__fixtures__/test-storage/.verdaccio-db.json
  plugins/local-storage/tests/__mocks__/utils.ts
  plugins/local-storage/tests/basic.test.ts
  plugins/local-storage/tests/local-database.test.ts
  plugins/local-storage/tests/utils.test.ts
  plugins/local-storage/tsconfig.json
  pnpm-lock.yaml
Due: plugins

Create good-hats-shave.md
  .changeset/good-hats-shave.md
Due: none

Update ci.yml
  .github/workflows/ci.yml
Due: none

Update changesets.yml
  .github/workflows/changesets.yml
Due: none

Handle S3 errors without a statusCode
  plugins/aws-s3-storage/src/s3Errors.ts
Due: plugins

Fix typo in README, clarify aws-s3-storage configuration
  plugins/aws-s3-storage/README.md
Due: plugins

fix: active directory missing logging option
  .changeset/eight-mangos-tickle.md
  plugins/active-directory/src/active-directory.ts
Due: plugins

fix: active directory missing logging option (#703)
  .changeset/eight-mangos-tickle.md
  plugins/active-directory/src/active-directory.ts
Due: plugins

Fix typo in README, clarify aws-s3-storage configuration (#701)
  plugins/aws-s3-storage/README.md
Due: plugins

Create modern-owls-grab.md
  .changeset/modern-owls-grab.md
Due: none

Handle S3 errors without a statusCode (#700)
  plugins/aws-s3-storage/src/s3Errors.ts
Due: plugins

rename package
  .changeset/slow-boxes-listen.md
  .npmrc
  plugins/local-storage/package.json
Due: plugins

Update lock.spec.ts
  core/file-locking/src/__tests__/lock.spec.ts
Due: core

clean up
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  core/file-locking/tests/assets/package.json
  core/file-locking/tests/assets/package2.json
  core/file-locking/tests/assets/wrong.package.json
  core/file-locking/tests/lock.spec.ts
Due: core

rename package @verdaccio/local-storage (#706)
  .changeset/slow-boxes-listen.md
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .npmrc
  core/file-locking/tests/assets/package.json
  core/file-locking/tests/assets/package2.json
  core/file-locking/tests/assets/wrong.package.json
  core/file-locking/tests/lock.spec.ts
  plugins/local-storage/package.json
Due: core, plugins

restore package
  .changeset/real-kangaroos-listen.md
  plugins/local-storage-legacy/.babelrc
  plugins/local-storage-legacy/.eslintignore
  plugins/local-storage-legacy/.gitignore
  plugins/local-storage-legacy/.verdaccio-db.json
  plugins/local-storage-legacy/CHANGELOG.md
  plugins/local-storage-legacy/LICENSE
  plugins/local-storage-legacy/README.md
  plugins/local-storage-legacy/jest.config.js
  plugins/local-storage-legacy/jestEnvironment.js
  plugins/local-storage-legacy/package.json
  plugins/local-storage-legacy/src/index.ts
  plugins/local-storage-legacy/src/local-database.ts
  plugins/local-storage-legacy/src/local-fs.ts
  plugins/local-storage-legacy/src/pkg-utils.ts
  plugins/local-storage-legacy/src/token.ts
  plugins/local-storage-legacy/src/utils.ts
  plugins/local-storage-legacy/tests/__fixtures__/databases/corrupted.json
  plugins/local-storage-legacy/tests/__fixtures__/databases/empty.json
  plugins/local-storage-legacy/tests/__fixtures__/databases/ok.json
  plugins/local-storage-legacy/tests/__fixtures__/findPackages/.gitkeep
  plugins/local-storage-legacy/tests/__fixtures__/findPackages/@scoped_second/.gitkeep
  plugins/local-storage-legacy/tests/__fixtures__/findPackages/@scoped_second/pkg1/.gitkeep
  plugins/local-storage-legacy/tests/__fixtures__/findPackages/@scoped_second/pkg2/.gitkeep
  plugins/local-storage-legacy/tests/__fixtures__/findPackages/@scoped_test/.gitkeep
  plugins/local-storage-legacy/tests/__fixtures__/findPackages/@scoped_test/pkg1/.gitkeep
  plugins/local-storage-legacy/tests/__fixtures__/findPackages/@scoped_test/pkg2/.gitkeep
  plugins/local-storage-legacy/tests/__fixtures__/findPackages/pk3/.gitkeep
  plugins/local-storage-legacy/tests/__fixtures__/pkg.js
  plugins/local-storage-legacy/tests/__fixtures__/readme-test-corrupt/corrupt.js
  plugins/local-storage-legacy/tests/__fixtures__/readme-test/package.json
  plugins/local-storage-legacy/tests/__mocks__/Config.ts
  plugins/local-storage-legacy/tests/__mocks__/Logger.ts
  plugins/local-storage-legacy/tests/local-database.test.ts
  plugins/local-storage-legacy/tests/local-fs.test.ts
  plugins/local-storage-legacy/tests/token.test.ts
  plugins/local-storage-legacy/tests/utils.test.ts
  plugins/local-storage-legacy/tsconfig.build.json
  plugins/local-storage-legacy/tsconfig.json
  pnpm-lock.yaml
Due: plugins

test
  plugins/local-storage-legacy/CHANGELOG.md
  plugins/local-storage-legacy/README.md
Due: plugins

test
  .github/workflows/ci.yml
  plugins/local-storage-legacy/.verdaccio-db.json
  plugins/local-storage-legacy/tests/local-fs.test.ts
Due: plugins

split local-storage packages (#708)
  .changeset/real-kangaroos-listen.md
  .github/workflows/ci.yml
  plugins/local-storage-legacy/.babelrc
  plugins/local-storage-legacy/.eslintignore
  plugins/local-storage-legacy/.gitignore
  plugins/local-storage-legacy/CHANGELOG.md
  plugins/local-storage-legacy/LICENSE
  plugins/local-storage-legacy/README.md
  plugins/local-storage-legacy/jest.config.js
  plugins/local-storage-legacy/jestEnvironment.js
  plugins/local-storage-legacy/package.json
  plugins/local-storage-legacy/src/index.ts
  plugins/local-storage-legacy/src/local-database.ts
  plugins/local-storage-legacy/src/local-fs.ts
  plugins/local-storage-legacy/src/pkg-utils.ts
  plugins/local-storage-legacy/src/token.ts
  plugins/local-storage-legacy/src/utils.ts
  plugins/local-storage-legacy/tests/__fixtures__/databases/corrupted.json
  plugins/local-storage-legacy/tests/__fixtures__/databases/empty.json
  plugins/local-storage-legacy/tests/__fixtures__/databases/ok.json
  plugins/local-storage-legacy/tests/__fixtures__/findPackages/.gitkeep
  plugins/local-storage-legacy/tests/__fixtures__/findPackages/@scoped_second/.gitkeep
  plugins/local-storage-legacy/tests/__fixtures__/findPackages/@scoped_second/pkg1/.gitkeep
  plugins/local-storage-legacy/tests/__fixtures__/findPackages/@scoped_second/pkg2/.gitkeep
  plugins/local-storage-legacy/tests/__fixtures__/findPackages/@scoped_test/.gitkeep
  plugins/local-storage-legacy/tests/__fixtures__/findPackages/@scoped_test/pkg1/.gitkeep
  plugins/local-storage-legacy/tests/__fixtures__/findPackages/@scoped_test/pkg2/.gitkeep
  plugins/local-storage-legacy/tests/__fixtures__/findPackages/pk3/.gitkeep
  plugins/local-storage-legacy/tests/__fixtures__/pkg.js
  plugins/local-storage-legacy/tests/__fixtures__/readme-test-corrupt/corrupt.js
  plugins/local-storage-legacy/tests/__fixtures__/readme-test/package.json
  plugins/local-storage-legacy/tests/__mocks__/Config.ts
  plugins/local-storage-legacy/tests/__mocks__/Logger.ts
  plugins/local-storage-legacy/tests/local-database.test.ts
  plugins/local-storage-legacy/tests/local-fs.test.ts
  plugins/local-storage-legacy/tests/token.test.ts
  plugins/local-storage-legacy/tests/utils.test.ts
  plugins/local-storage-legacy/tsconfig.build.json
  plugins/local-storage-legacy/tsconfig.json
  pnpm-lock.yaml
Due: plugins

Update README.md
  plugins/local-storage/README.md
Due: plugins

Update .npmrc
  .npmrc
Due: none

Update .npmrc (#710)
  .npmrc
Due: none

add proxy for s3 storage
  plugins/aws-s3-storage/README.md
  plugins/aws-s3-storage/conf/config.yaml
  plugins/aws-s3-storage/src/config.ts
  plugins/aws-s3-storage/src/index.ts
  plugins/aws-s3-storage/src/s3PackageManager.ts
Due: plugins

changeset
  package.json
  pnpm-lock.yaml
Due: none

Revert "changeset"
  package.json
  pnpm-lock.yaml
Due: none

add changeset
  .changeset/fuzzy-rice-cover.md
Due: none

feat: add proxy support for s3 storage (#713)
  .changeset/fuzzy-rice-cover.md
  plugins/aws-s3-storage/README.md
  plugins/aws-s3-storage/conf/config.yaml
  plugins/aws-s3-storage/src/config.ts
  plugins/aws-s3-storage/src/index.ts
  plugins/aws-s3-storage/src/s3PackageManager.ts
Due: plugins

feat: replace dependencies and add debug code
  .changeset/ninety-houses-repeat.md
  .nvmrc
  package.json
  plugins/auth-memory/package.json
  plugins/auth-memory/src/Memory.ts
  pnpm-lock.yaml
Due: plugins

Update .babelrc
  .babelrc
Due: none

test
  .changeset/serious-ligers-tan.md
  plugins/local-storage/package.json
  pnpm-lock.yaml
Due: plugins

feat: replace dependencies and add debug code (#721)
  .babelrc
  .changeset/ninety-houses-repeat.md
  .changeset/serious-ligers-tan.md
  .github/workflows/ci.yml
  .nvmrc
  package.json
  plugins/auth-memory/package.json
  plugins/auth-memory/src/Memory.ts
  plugins/local-storage/package.json
  pnpm-lock.yaml
Due: plugins

feat: replace dependencies legacy storage
  .changeset/plenty-ties-beam.md
  plugins/local-storage-legacy/package.json
  plugins/local-storage-legacy/src/local-database.ts
  plugins/local-storage-legacy/src/local-fs.ts
  plugins/local-storage-legacy/src/pkg-utils.ts
  plugins/local-storage-legacy/src/token.ts
  plugins/local-storage-legacy/src/utils.ts
  pnpm-lock.yaml
Due: plugins

remove commons
  .changeset/plenty-ties-beam.md
  plugins/active-directory/package.json
  plugins/active-directory/src/active-directory.ts
  plugins/active-directory/tests/active-directory.test.ts
  pnpm-lock.yaml
Due: plugins
