Repository verdaccio/monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: core, plugins

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 50%
      core:
        flags: core
        target: 50%
      plugins:
        flags: plugins
        target: 50%

flags:
  core:
    paths:
      - core/commons-api
      - core/file-locking
      - core/readme
      - core/streams
  plugins:
    paths:
      - plugins/active-directory
      - plugins/audit
      - plugins/auth-memory
      - plugins/aws-s3-storage
      - plugins/google-cloud
      - plugins/htpasswd
      - plugins/local-storage
      - plugins/memory

chore: update dependencies and devDependencies (#228)
  core/commons-api/package.json
  package.json
  plugins/aws-s3-storage/package.json
  plugins/google-cloud/package.json
  plugins/htpasswd/package.json
  tools/babel-preset/package.json
  tools/eslint-config/package.json
  tools/eslint-plugin-verdaccio/package.json
  yarn.lock
Due: core, plugins

fix: adds sort_packages in WebConf Interface (#227)
  core/types/index.d.ts
Due: none

ci: remove Azure Pipelines in favor of Github CI
  azure-pipelines.yml
Due: none

ci: remove Azure Pipelines in favor of Github CI (#244)
  azure-pipelines.yml
Due: none

feat: added syntax highlighting support for readme
  core/readme/README.md
  core/readme/package.json
  core/readme/src/index.ts
  core/readme/tests/partials/syntax-highlighting/readme.md
  core/readme/tests/readme.spec.ts
Due: core

Added package ACL support.
  plugins/aws-s3-storage/README.md
  plugins/aws-s3-storage/src/config.ts
  plugins/aws-s3-storage/src/s3PackageManager.ts
Due: plugins

fix(verdaccio-google-cloud): catch missing Secret on first run
  plugins/google-cloud/src/data-storage.ts
Due: plugins

Limited S3 ACL setting to tarball only.
  plugins/aws-s3-storage/README.md
  plugins/aws-s3-storage/src/config.ts
  plugins/aws-s3-storage/src/s3PackageManager.ts
Due: plugins

Added tarballEdgeUrl configuration.
  plugins/aws-s3-storage/README.md
  plugins/aws-s3-storage/src/config.ts
Due: plugins

fix: changed readPackage related logs to debug level.
  plugins/aws-s3-storage/s3-edge-url.patch
  plugins/aws-s3-storage/src/s3PackageManager.ts
  t1.patch
Due: plugins

refactor(local-storage): fix linting
  plugins/local-storage/tests/utils.test.ts
Due: plugins

feat(babel-preset): upgrade babel
  tools/babel-preset/package.json
  yarn.lock
Due: none

chore: update typescript to 3.7.2
  package.json
  yarn.lock
Due: none

chore: regenerate lockfile pointing to our registry
  yarn.lock
Due: none

chore(eslint-config): update @typescript-eslint/eslint-plugin
  tools/eslint-config/package.json
  yarn.lock
Due: none

chore: publish release v8.4.0
  CHANGELOG.md
  core/commons-api/CHANGELOG.md
  core/commons-api/package.json
  core/file-locking/CHANGELOG.md
  core/file-locking/package.json
  core/readme/CHANGELOG.md
  core/readme/package.json
  core/streams/CHANGELOG.md
  core/streams/package.json
  core/types/CHANGELOG.md
  core/types/package.json
  lerna.json
  plugins/active-directory/CHANGELOG.md
  plugins/active-directory/package.json
  plugins/audit/CHANGELOG.md
  plugins/audit/package.json
  plugins/auth-memory/CHANGELOG.md
  plugins/auth-memory/package.json
  plugins/aws-s3-storage/CHANGELOG.md
  plugins/aws-s3-storage/package.json
  plugins/google-cloud/CHANGELOG.md
  plugins/google-cloud/package.json
  plugins/htpasswd/CHANGELOG.md
  plugins/htpasswd/package.json
  plugins/local-storage/CHANGELOG.md
  plugins/local-storage/package.json
  plugins/memory/CHANGELOG.md
  plugins/memory/package.json
  tools/babel-preset/CHANGELOG.md
  tools/babel-preset/package.json
  tools/eslint-config/CHANGELOG.md
  tools/eslint-config/package.json
  tools/eslint-plugin-verdaccio/CHANGELOG.md
  tools/eslint-plugin-verdaccio/package.json
  tools/testing-utilities/CHANGELOG.md
  tools/testing-utilities/package.json
Due: core, plugins

chore: publish release v8.4.1
  CHANGELOG.md
  core/commons-api/CHANGELOG.md
  core/commons-api/package.json
  core/file-locking/CHANGELOG.md
  core/file-locking/package.json
  core/readme/CHANGELOG.md
  core/readme/package.json
  core/streams/CHANGELOG.md
  core/streams/package.json
  core/types/CHANGELOG.md
  core/types/package.json
  lerna.json
  plugins/active-directory/CHANGELOG.md
  plugins/active-directory/package.json
  plugins/audit/CHANGELOG.md
  plugins/audit/package.json
  plugins/auth-memory/CHANGELOG.md
  plugins/auth-memory/package.json
  plugins/aws-s3-storage/CHANGELOG.md
  plugins/aws-s3-storage/package.json
  plugins/google-cloud/CHANGELOG.md
  plugins/google-cloud/package.json
  plugins/htpasswd/CHANGELOG.md
  plugins/htpasswd/package.json
  plugins/local-storage/CHANGELOG.md
  plugins/local-storage/package.json
  plugins/memory/CHANGELOG.md
  plugins/memory/package.json
  tools/babel-preset/CHANGELOG.md
  tools/babel-preset/package.json
  tools/eslint-config/CHANGELOG.md
  tools/eslint-config/package.json
  tools/eslint-plugin-verdaccio/CHANGELOG.md
  tools/eslint-plugin-verdaccio/package.json
  tools/testing-utilities/CHANGELOG.md
  tools/testing-utilities/package.json
Due: core, plugins

fix: cleanup files
  t1.patch
Due: none

fix: cleanup files
  plugins/aws-s3-storage/s3-edge-url.patch
Due: plugins

feature: converted tarball to edge url.
  plugins/aws-s3-storage/README.md
  plugins/aws-s3-storage/src/s3PackageManager.ts
Due: plugins

fix: added managedTarballUrl config to README docs
  plugins/aws-s3-storage/README.md
Due: plugins

chore: publish release v8.4.2
  CHANGELOG.md
  core/commons-api/CHANGELOG.md
  core/commons-api/package.json
  core/file-locking/CHANGELOG.md
  core/file-locking/package.json
  core/readme/CHANGELOG.md
  core/readme/package.json
  core/streams/CHANGELOG.md
  core/streams/package.json
  core/types/CHANGELOG.md
  core/types/package.json
  lerna.json
  plugins/active-directory/CHANGELOG.md
  plugins/active-directory/package.json
  plugins/audit/CHANGELOG.md
  plugins/audit/package.json
  plugins/auth-memory/CHANGELOG.md
  plugins/auth-memory/package.json
  plugins/aws-s3-storage/CHANGELOG.md
  plugins/aws-s3-storage/package.json
  plugins/google-cloud/CHANGELOG.md
  plugins/google-cloud/package.json
  plugins/htpasswd/CHANGELOG.md
  plugins/htpasswd/package.json
  plugins/local-storage/CHANGELOG.md
  plugins/local-storage/package.json
  plugins/memory/CHANGELOG.md
  plugins/memory/package.json
  tools/babel-preset/CHANGELOG.md
  tools/babel-preset/package.json
  tools/eslint-config/CHANGELOG.md
  tools/eslint-config/package.json
  tools/eslint-plugin-verdaccio/CHANGELOG.md
  tools/eslint-plugin-verdaccio/package.json
  tools/testing-utilities/CHANGELOG.md
  tools/testing-utilities/package.json
Due: core, plugins

fix: rename config.store.managedTarballUrl to config.convert_to_local_tarball_url
  core/types/index.d.ts
  plugins/aws-s3-storage/README.md
Due: plugins

fix: missing brackets for log variable
  plugins/aws-s3-storage/src/s3PackageManager.ts
Due: plugins

fix: change certain s3 log to debug level
  plugins/aws-s3-storage/src/s3PackageManager.ts
Due: plugins

fix: stateless s3 storage for verdaccio/verdaccio/issues/1595
  plugins/aws-s3-storage/package.json
  plugins/aws-s3-storage/src/index.ts
Due: plugins

support scoped package
  plugins/aws-s3-storage/src/index.ts
Due: plugins

fix: verdaccio/verdaccio/issues/1435
  plugins/aws-s3-storage/src/s3PackageManager.ts
Due: plugins

feat(babel-preset): enable Typescript 3.7 features
  tools/babel-preset/lib/builder.js
  tools/babel-preset/package.json
  yarn.lock
Due: none

feat(eslint-config): update @typescript-eslint to enable rules for Ts 3.7
  tools/eslint-config/package.json
  tools/eslint-config/rules/typescript.js
  yarn.lock
Due: none

fix(types): add allow_unpublish generic
  core/types/index.d.ts
Due: none

chore: reordered
  core/types/index.d.ts
Due: none

chore(types:) add test
  core/types/index.d.ts
Due: none

chore: remove test
  core/types/index.d.ts
Due: none

chore(types): add better shape for allow methods
  core/types/index.d.ts
Due: none

fix(types): add allow_unpublish generic (#305)
  core/types/index.d.ts
Due: none

chore: publish release v8.5.0
  CHANGELOG.md
  core/commons-api/CHANGELOG.md
  core/commons-api/package.json
  core/file-locking/CHANGELOG.md
  core/file-locking/package.json
  core/readme/CHANGELOG.md
  core/readme/package.json
  core/streams/CHANGELOG.md
  core/streams/package.json
  core/types/CHANGELOG.md
  core/types/package.json
  lerna.json
  plugins/active-directory/CHANGELOG.md
  plugins/active-directory/package.json
  plugins/audit/CHANGELOG.md
  plugins/audit/package.json
  plugins/auth-memory/CHANGELOG.md
  plugins/auth-memory/package.json
  plugins/aws-s3-storage/CHANGELOG.md
  plugins/aws-s3-storage/package.json
  plugins/google-cloud/CHANGELOG.md
  plugins/google-cloud/package.json
  plugins/htpasswd/CHANGELOG.md
  plugins/htpasswd/package.json
  plugins/local-storage/CHANGELOG.md
  plugins/local-storage/package.json
  plugins/memory/CHANGELOG.md
  plugins/memory/package.json
  tools/babel-preset/CHANGELOG.md
  tools/babel-preset/package.json
  tools/eslint-config/CHANGELOG.md
  tools/eslint-config/package.json
  tools/eslint-plugin-verdaccio/CHANGELOG.md
  tools/eslint-plugin-verdaccio/package.json
  tools/testing-utilities/CHANGELOG.md
  tools/testing-utilities/package.json
Due: core, plugins

fix: add new types for local storage
  core/types/index.d.ts
Due: none

fix: add new types for local storage (#306)
  core/types/index.d.ts
Due: none
