Repository verdaccio/monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: core, plugins

chore: update changeset settings
  .changeset/config.json
  .github/workflows/changesets.yml
Due: none

chore: update changeset settings
  .changeset/config.json
  plugins/aws-s3-storage/package.json
Due: plugins

fix: Fix the prefix used to delete from s3 when unpublishing packages
  .changeset/curly-cherries-glow.md
  plugins/aws-s3-storage/src/s3PackageManager.ts
  plugins/aws-s3-storage/tests/s3PackageManagerMockedS3.test.ts
Due: plugins

fix: Fix the prefix used to delete from s3 when unpublishing packages (#408)
  .changeset/curly-cherries-glow.md
  plugins/aws-s3-storage/src/s3PackageManager.ts
  plugins/aws-s3-storage/tests/s3PackageManagerMockedS3.test.ts
Due: plugins

feat: add npm7 support to npm audit plugin
  plugins/audit/package.json
  plugins/audit/src/audit.ts
  pnpm-lock.yaml
Due: plugins

feat: add npm7 support to npm audit plugin (#414)
  plugins/audit/package.json
  plugins/audit/src/audit.ts
  pnpm-lock.yaml
Due: plugins

add changeset for fix #414
  .changeset/many-grapes-accept.md
Due: none

docs(verdaccio-google-cloud): updates for GCP changes
  plugins/google-cloud/README.md
Due: plugins

docs(verdaccio-google-cloud): updates for GCP changes (#416)
  plugins/google-cloud/README.md
Due: plugins

Add renovate.json
  renovate.json
Due: none

chore(deps): update dependency lodash to v4.17.21 [security]
  package.json
  pnpm-lock.yaml
Due: none

fix(deps): update dependency node-fetch to v2.6.1 [security]
  plugins/audit/package.json
  pnpm-lock.yaml
Due: plugins

chore(deps): update dependency codecov to v3.7.1 [security]
  package.json
  pnpm-lock.yaml
Due: none

chore: update renovate conf
  renovate.json
Due: none

chore: update dependencies lodash node-fetch
  .changeset/spicy-years-yell.md
  renovate.json
Due: none

chore(deps): pin dependencies
  core/commons-api/package.json
  core/file-locking/package.json
  core/readme/package.json
  core/streams/package.json
  package.json
  plugins/active-directory/package.json
  plugins/audit/package.json
  plugins/auth-memory/package.json
  plugins/aws-s3-storage/package.json
  plugins/google-cloud/package.json
  plugins/htpasswd/package.json
  plugins/local-storage/package.json
  plugins/memory/package.json
  pnpm-lock.yaml
Due: core, plugins

chore(deps): update actions/checkout action to v2.3.4
  .github/workflows/ci.yml
Due: none

Update renovate.json
  renovate.json
Due: none

chore(deps): update dependency @types/http-errors to v1.8.1
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency @types/express to v4.17.13
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency @types/lodash to v4.14.173
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency @types/request to v2.48.7
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency fast-crc32c to v1.0.7
  plugins/google-cloud/package.json
  pnpm-lock.yaml
Due: plugins

fix(deps): update dependency apache-md5 to v1.1.7
  plugins/htpasswd/package.json
  pnpm-lock.yaml
Due: plugins

fix(deps): update dependency async to v3.2.1
  plugins/local-storage/package.json
  pnpm-lock.yaml
Due: plugins

chore(deps): update babel monorepo
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency babel-plugin-emotion to v10.2.2
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency eslint-plugin-import to v2.24.2
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency eslint-plugin-react to v7.26.0
  package.json
  pnpm-lock.yaml
Due: none

fix(deps): update dependency node-fetch to v2.6.5
  plugins/audit/package.json
  pnpm-lock.yaml
Due: plugins

chore(deps): update dependency prettier to v2.4.1
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency update-ts-references to v2.4.1
  package.json
  pnpm-lock.yaml
Due: none

fix(deps): update dependency debug to v4.3.2
  plugins/local-storage/package.json
  pnpm-lock.yaml
Due: plugins

chore(deps): update dependency @types/jest to v26.0.24
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency @types/memory-fs to v0.3.3
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency typescript to v3.9.10
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency codecov to v3.8.3
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency eslint to v7.32.0
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency eslint-plugin-jest to v24.4.2
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): update dependency @changesets/changelog-github to ^0.4.0
  package.json
  pnpm-lock.yaml
Due: none

Path conditions:
  core: any of: core/commons-api, core/file-locking, core/readme, core/streams
  plugins: any of: plugins/active-directory, plugins/audit, plugins/auth-memory, plugins/aws-s3-storage, plugins/google-cloud, plugins/htpasswd, plugins/local-storage, plugins/memory
